Job: "600_Fit"
  Label: "600_Fit"
  CmeLabel: "13 TeV"
  LumiLabel: "5.8 fb^{-1}"
  POI: "mu"
  ReadFrom: HIST
%  HistoPath: "/afs/cern.ch/user/b/boliu/public/600/input/fullDS/merge/"
%  HistoPath: "/afs/cern.ch/user/b/boliu/public/600/input/input_Feb/merge/"
  HistoPath: "/data/boliu/ZHllvv/input/v3/LowMass/final/"
  DebugLevel: 1
  SystControlPlots: TRUE
  SystDataPlots: TRUE
%  StatOnly: FALSE

Fit: "myFit"
  FitType: SPLUSB
  FitRegion: CRSR
  FitBlind: FALSE
  POIAsimov: 0.35
  UseMinos: all
  
Limit: "limit"
  LimitType: ASYMPTOTIC
  LimitBlind: FALSE
  NScanPoints: 50
  POIScanMin: 0
  POIScanMax: -1
  DoLimitMacro: FALSE
  POIAsimov: 0

Region: "SR_ee"
  Type: SIGNAL
%  Type: CONTROL
  HistoName: "Met_ee"
  VariableTitle: "E_{T}^{miss} [GeV]"
  Label: "Signal Region ee"
  ShortLabel: "SR ee"
  DataType: DATA

Region: "SR_mm"
  Type: SIGNAL
%  Type: CONTROL
  HistoName: "Met_mm"
  VariableTitle: "E_{T}^{miss} [GeV]"
  Label: "Signal Region mm"
  ShortLabel: "SR mm"
  DataType: DATA


Sample: "Data"
  Title: "Data"
  Type: DATA
  HistoFile: "data"
    
Sample: "qqZZ"
  Type: BACKGROUND
  Title: "qqZZ"
  FillColor: 65
  UseMCstat: FALSE
  LineColor: 1
  HistoFile: "qqZZ"

Sample: "ggZZ"
  Type: BACKGROUND
  Title: "ggZZ"
  FillColor: 9
  UseMCstat: FALSE
  LineColor: 1
  HistoFile: "ggZZ"

Sample: "WZ"
  Type: BACKGROUND
  Title: "WZ"
  FillColor: 98
  UseMCstat: FALSE
  LineColor: 1
  HistoFile: "WZ"

Sample: "Other"
  Type: BACKGROUND
  Title: "Other"
  FillColor: 7
  UseMCstat: FALSE
  LineColor: 1
  HistoFile: "Other"



Sample: "em"
  Type: BACKGROUND
  Title: "Top/WW/Z(#tau#tau)"
  FillColor: 12
  UseMCstat: FALSE
  LineColor: 1
  HistoFile: "emBkg"

Sample: "Zjets"
  Type: BACKGROUND
  Title: "Z(ee/#mu#mu)+jets"
  FillColor: 5
  UseMCstat: FALSE
  LineColor: 1
  HistoFile: "Zjets"




Sample: "Signal"
  Type: SIGNAL
  Title: "Signal"
  FillColor: 632
  UseMCstat: FALSE
  LineColor: 632
%  NormFactor: "SigXsecOverSM",1,-10,10
  HistoFile: "600"


NormFactor: "mu"
  Title: "#mu"
  Nominal: 1
  Min: -10
  Max: 10
  Samples: Signal

#Systematic: "Dummy"
#  Title: "Dummy"
#  Type: OVERALL
#  OverallUp: 0.00001
#  OverallDown: -0.00001
#  Samples: qqZZ
#  Category: Instrumental
#

