Job: "dmVDM50MM300_Fit"
  Label: "dmVDM50MM300_Fit"
  CmeLabel: "13 TeV"
  LumiLabel: "5.8 fb^{-1}"
  POI: "SigXsecOverSM"
  ReadFrom: HIST
%  HistoPath: "/afs/cern.ch/user/b/boliu/public/ZHinv/input/fullDS/merge/"
%  HistoPath: "/afs/cern.ch/user/b/boliu/public/ZHinv/input/input_Feb/merge/"
  HistoPath: "/data/boliu/ZHllvv/input/v3/LowMass/lowmass-2016.07.04-nombin/"
  DebugLevel: 1
  SystControlPlots: TRUE
%  StatOnly: FALSE

Fit: "myFit"
  FitType: SPLUSB
  FitRegion: CRSR
  FitBlind: TRUE
  POIAsimov: 1
  
Limit: "limit"
  LimitType: ASYMPTOTIC
  LimitBlind: TRUE 
  POIAsimov: 0

Region: "SR_ee"
  Type: SIGNAL
%  Type: CONTROL
  HistoName: "MET_ee"
  VariableTitle: "E_{T}^{miss} [GeV]"
  Label: "Signal Region ee"
  ShortLabel: "SR ee"
  DataType: ASIMOV

Region: "SR_mm"
  Type: SIGNAL
%  Type: CONTROL
  HistoName: "MET_mm"
  VariableTitle: "E_{T}^{miss} [GeV]"
  Label: "Signal Region mm"
  ShortLabel: "SR mm"
  DataType: ASIMOV


%Sample: "Data"
%  Title: "Data 2015"
%  Type: DATA
%  HistoFile: "input_data"
    
Sample: "qqZZ"
  Type: BACKGROUND
  Title: "qqZZ"
  FillColor: 65
  UseMCstat: FALSE
  LineColor: 1
  HistoFile: "qqZZ"

Sample: "ggZZ"
  Type: BACKGROUND
  Title: "ggZZ"
  FillColor: 9
  UseMCstat: FALSE
  LineColor: 1
  HistoFile: "ggZZ"

Sample: "WZ"
  Type: BACKGROUND
  Title: "WZ"
  FillColor: 98
  UseMCstat: FALSE
  LineColor: 1
  HistoFile: "WZ"

Sample: "WW"
  Type: BACKGROUND
  Title: "WW"
  FillColor: 8
  UseMCstat: FALSE
  LineColor: 1
  HistoFile: "WW"

Sample: "Top"
  Type: BACKGROUND
  Title: "Top"
  FillColor: 12
  UseMCstat: FALSE
  LineColor: 1
  HistoFile: "Top"

Sample: "Zjets"
  Type: BACKGROUND
  Title: "Zjets"
  FillColor: 5
  UseMCstat: FALSE
  LineColor: 1
  HistoFile: "Zjets"




Sample: "Signal"
  Type: SIGNAL
  Title: "Signal"
  FillColor: 632
  UseMCstat: FALSE
  LineColor: 632
  NormFactor: "SigXsecOverSM",1,-10,10
  HistoFile: "dmVDM50MM300"


NormFactor: "SigXsecOverSM"
  Title: "#mu_{ZH}"
  Nominal: 1
  Min: -10
  Max: 10
  Samples: Signal


Systematic: "qqZZFlatSys" 
  Title: "qqZZFlatSys" 
  Type: HISTO
  HistoNameSufUp: "_qqZZFlatSys_up" 
  HistoNameSufDown: "_qqZZFlatSys_down" 
  Samples: qqZZ 
  %  Smoothing: 40
  Category: misc 
    
Systematic: "qqZZMCStatChneeBin1"; "qqZZMCStatChneeBin2"; "qqZZMCStatChneeBin3"; "qqZZMCStatChneeBin4"; "qqZZMCStatChneeBin5"; "qqZZMCStatChneeBin6" 
  Title: "qqZZMCStatChneeBin1"; "qqZZMCStatChneeBin2"; "qqZZMCStatChneeBin3"; "qqZZMCStatChneeBin4"; "qqZZMCStatChneeBin5"; "qqZZMCStatChneeBin6" 
  Type: HISTO
  Regions: SR_ee
  HistoNameSufUp: "_qqZZMCStatChneeBin1_up"; "_qqZZMCStatChneeBin2_up"; "_qqZZMCStatChneeBin3_up"; "_qqZZMCStatChneeBin4_up"; "_qqZZMCStatChneeBin5_up"; "_qqZZMCStatChneeBin6_up" 
  HistoNameSufDown: "_qqZZMCStatChneeBin1_down"; "_qqZZMCStatChneeBin2_down"; "_qqZZMCStatChneeBin3_down"; "_qqZZMCStatChneeBin4_down"; "_qqZZMCStatChneeBin5_down"; "_qqZZMCStatChneeBin6_down" 
  Samples: qqZZ 
  %  Smoothing: 40
  Category: MCStat_ee_qqZZ 
    
Systematic: "qqZZMCStatChnmmBin1"; "qqZZMCStatChnmmBin2"; "qqZZMCStatChnmmBin3"; "qqZZMCStatChnmmBin4"; "qqZZMCStatChnmmBin5"; "qqZZMCStatChnmmBin6" 
  Title: "qqZZMCStatChnmmBin1"; "qqZZMCStatChnmmBin2"; "qqZZMCStatChnmmBin3"; "qqZZMCStatChnmmBin4"; "qqZZMCStatChnmmBin5"; "qqZZMCStatChnmmBin6" 
  Type: HISTO
  Regions: SR_mm
  HistoNameSufUp: "_qqZZMCStatChnmmBin1_up"; "_qqZZMCStatChnmmBin2_up"; "_qqZZMCStatChnmmBin3_up"; "_qqZZMCStatChnmmBin4_up"; "_qqZZMCStatChnmmBin5_up"; "_qqZZMCStatChnmmBin6_up" 
  HistoNameSufDown: "_qqZZMCStatChnmmBin1_down"; "_qqZZMCStatChnmmBin2_down"; "_qqZZMCStatChnmmBin3_down"; "_qqZZMCStatChnmmBin4_down"; "_qqZZMCStatChnmmBin5_down"; "_qqZZMCStatChnmmBin6_down" 
  Samples: qqZZ 
  %  Smoothing: 40
  Category: MCStat_mm_qqZZ 
    
Systematic: "ggZZFlatSys" 
  Title: "ggZZFlatSys" 
  Type: HISTO
  HistoNameSufUp: "_ggZZFlatSys_up" 
  HistoNameSufDown: "_ggZZFlatSys_down" 
  Samples: ggZZ 
  %  Smoothing: 40
  Category: misc 
    
Systematic: "ggZZMCStatChneeBin1"; "ggZZMCStatChneeBin2"; "ggZZMCStatChneeBin3"; "ggZZMCStatChneeBin4"; "ggZZMCStatChneeBin5"; "ggZZMCStatChneeBin6" 
  Title: "ggZZMCStatChneeBin1"; "ggZZMCStatChneeBin2"; "ggZZMCStatChneeBin3"; "ggZZMCStatChneeBin4"; "ggZZMCStatChneeBin5"; "ggZZMCStatChneeBin6" 
  Type: HISTO
  Regions: SR_ee
  HistoNameSufUp: "_ggZZMCStatChneeBin1_up"; "_ggZZMCStatChneeBin2_up"; "_ggZZMCStatChneeBin3_up"; "_ggZZMCStatChneeBin4_up"; "_ggZZMCStatChneeBin5_up"; "_ggZZMCStatChneeBin6_up" 
  HistoNameSufDown: "_ggZZMCStatChneeBin1_down"; "_ggZZMCStatChneeBin2_down"; "_ggZZMCStatChneeBin3_down"; "_ggZZMCStatChneeBin4_down"; "_ggZZMCStatChneeBin5_down"; "_ggZZMCStatChneeBin6_down" 
  Samples: ggZZ 
  %  Smoothing: 40
  Category: MCStat_ee_ggZZ 
    
Systematic: "ggZZMCStatChnmmBin1"; "ggZZMCStatChnmmBin2"; "ggZZMCStatChnmmBin3"; "ggZZMCStatChnmmBin4"; "ggZZMCStatChnmmBin5"; "ggZZMCStatChnmmBin6" 
  Title: "ggZZMCStatChnmmBin1"; "ggZZMCStatChnmmBin2"; "ggZZMCStatChnmmBin3"; "ggZZMCStatChnmmBin4"; "ggZZMCStatChnmmBin5"; "ggZZMCStatChnmmBin6" 
  Type: HISTO
  Regions: SR_mm
  HistoNameSufUp: "_ggZZMCStatChnmmBin1_up"; "_ggZZMCStatChnmmBin2_up"; "_ggZZMCStatChnmmBin3_up"; "_ggZZMCStatChnmmBin4_up"; "_ggZZMCStatChnmmBin5_up"; "_ggZZMCStatChnmmBin6_up" 
  HistoNameSufDown: "_ggZZMCStatChnmmBin1_down"; "_ggZZMCStatChnmmBin2_down"; "_ggZZMCStatChnmmBin3_down"; "_ggZZMCStatChnmmBin4_down"; "_ggZZMCStatChnmmBin5_down"; "_ggZZMCStatChnmmBin6_down" 
  Samples: ggZZ 
  %  Smoothing: 40
  Category: MCStat_mm_ggZZ 
    
Systematic: "WZFlatSys" 
  Title: "WZFlatSys" 
  Type: HISTO
  HistoNameSufUp: "_WZFlatSys_up" 
  HistoNameSufDown: "_WZFlatSys_down" 
  Samples: WZ 
  %  Smoothing: 40
  Category: misc 
    
Systematic: "WWFlatSys" 
  Title: "WWFlatSys" 
  Type: HISTO
  HistoNameSufUp: "_WWFlatSys_up" 
  HistoNameSufDown: "_WWFlatSys_down" 
  Samples: WW 
  %  Smoothing: 40
  Category: misc 
    
Systematic: "TopFlatSys" 
  Title: "TopFlatSys" 
  Type: HISTO
  HistoNameSufUp: "_TopFlatSys_up" 
  HistoNameSufDown: "_TopFlatSys_down" 
  Samples: Top 
  %  Smoothing: 40
  Category: misc 
    
Systematic: "ZjetsFlatSys" 
  Title: "ZjetsFlatSys" 
  Type: HISTO
  HistoNameSufUp: "_ZjetsFlatSys_up" 
  HistoNameSufDown: "_ZjetsFlatSys_down" 
  Samples: Zjets 
  %  Smoothing: 40
  Category: misc 
    
Systematic: "dmVDM50MM300FlatSys" 
  Title: "dmVDM50MM300FlatSys" 
  Type: HISTO
  HistoNameSufUp: "_dmVDM50MM300FlatSys_up" 
  HistoNameSufDown: "_dmVDM50MM300FlatSys_down" 
  Samples: dmVDM50MM300 
  %  Smoothing: 40
  Category: misc 
    
Systematic: "dmVDM50MM300MCStatChneeBin1"; "dmVDM50MM300MCStatChneeBin2"; "dmVDM50MM300MCStatChneeBin3"; "dmVDM50MM300MCStatChneeBin4"; "dmVDM50MM300MCStatChneeBin5"; "dmVDM50MM300MCStatChneeBin6" 
  Title: "dmVDM50MM300MCStatChneeBin1"; "dmVDM50MM300MCStatChneeBin2"; "dmVDM50MM300MCStatChneeBin3"; "dmVDM50MM300MCStatChneeBin4"; "dmVDM50MM300MCStatChneeBin5"; "dmVDM50MM300MCStatChneeBin6" 
  Type: HISTO
  Regions: SR_ee
  HistoNameSufUp: "_dmVDM50MM300MCStatChneeBin1_up"; "_dmVDM50MM300MCStatChneeBin2_up"; "_dmVDM50MM300MCStatChneeBin3_up"; "_dmVDM50MM300MCStatChneeBin4_up"; "_dmVDM50MM300MCStatChneeBin5_up"; "_dmVDM50MM300MCStatChneeBin6_up" 
  HistoNameSufDown: "_dmVDM50MM300MCStatChneeBin1_down"; "_dmVDM50MM300MCStatChneeBin2_down"; "_dmVDM50MM300MCStatChneeBin3_down"; "_dmVDM50MM300MCStatChneeBin4_down"; "_dmVDM50MM300MCStatChneeBin5_down"; "_dmVDM50MM300MCStatChneeBin6_down" 
  Samples: dmVDM50MM300 
  %  Smoothing: 40
  Category: MCStat_ee_dmVDM50MM300 
    
Systematic: "dmVDM50MM300MCStatChnmmBin1"; "dmVDM50MM300MCStatChnmmBin2"; "dmVDM50MM300MCStatChnmmBin3"; "dmVDM50MM300MCStatChnmmBin4"; "dmVDM50MM300MCStatChnmmBin5"; "dmVDM50MM300MCStatChnmmBin6" 
  Title: "dmVDM50MM300MCStatChnmmBin1"; "dmVDM50MM300MCStatChnmmBin2"; "dmVDM50MM300MCStatChnmmBin3"; "dmVDM50MM300MCStatChnmmBin4"; "dmVDM50MM300MCStatChnmmBin5"; "dmVDM50MM300MCStatChnmmBin6" 
  Type: HISTO
  Regions: SR_mm
  HistoNameSufUp: "_dmVDM50MM300MCStatChnmmBin1_up"; "_dmVDM50MM300MCStatChnmmBin2_up"; "_dmVDM50MM300MCStatChnmmBin3_up"; "_dmVDM50MM300MCStatChnmmBin4_up"; "_dmVDM50MM300MCStatChnmmBin5_up"; "_dmVDM50MM300MCStatChnmmBin6_up" 
  HistoNameSufDown: "_dmVDM50MM300MCStatChnmmBin1_down"; "_dmVDM50MM300MCStatChnmmBin2_down"; "_dmVDM50MM300MCStatChnmmBin3_down"; "_dmVDM50MM300MCStatChnmmBin4_down"; "_dmVDM50MM300MCStatChnmmBin5_down"; "_dmVDM50MM300MCStatChnmmBin6_down" 
  Samples: dmVDM50MM300 
  %  Smoothing: 40
  Category: MCStat_mm_dmVDM50MM300 
    