Job: "Graviton_700_ee"
  Label: "Graviton_700_ee"
  CmeLabel: "13 TeV"
  LumiLabel: "13.3 fb^{-1}"
  POI: "mu"
  ReadFrom: HIST
%  HistoPath: "/afs/cern.ch/user/b/boliu/public/ZHinv/input/fullDS/merge/"
%  HistoPath: "/afs/cern.ch/user/b/boliu/public/ZHinv/input/input_Feb/merge/"
  HistoPath: "/data/boliu/ZHllvv/input/v3/HighMass/ichecp_final/"
%  DebugLevel: 1
  SystControlPlots: TRUE

Fit: "myFit"
  FitType: SPLUSB
  FitRegion: CRSR
%  FitBlind: FALSE
%  POIAsimov: 1
%  UseMinos: all
  
Limit: "limit"
  LimitType: ASYMPTOTIC
%  LimitBlind: FALSE
%  POIAsimov: 0

Region: "SR_ee"
  Type: SIGNAL
%  Type: CONTROL
  HistoName: "mT_ee"
  VariableTitle: "mT [GeV]"
  Label: "Signal Region ee"
  ShortLabel: "SR ee"
%  DataType: ASIMOV
  DataType: DATA

Sample: "Data"
  Title: "Data"
  Type: DATA
  HistoFile: "data"

Sample: "Signal"
  Type: SIGNAL
  Title: "Signal"
  FillColor: 632
  LineColor: 632
  UseMCstat: FALSE
%  NormFactor: "mu",1,-10,10
  HistoFile: "Graviton700"
 
    
Sample: "qqZZ"
  Type: BACKGROUND
  Title: "qqZZ"
  FillColor: 65
  UseMCstat: FALSE
  LineColor: 1
  HistoFile: "qqZZ"

Sample: "ggZZ"
  Type: BACKGROUND
  Title: "ggZZ"
  FillColor: 9
  UseMCstat: FALSE
  LineColor: 1
  HistoFile: "ggZZ"

Sample: "WZ"
  Type: BACKGROUND
  Title: "WZ"
  FillColor: 98
  UseMCstat: FALSE
  LineColor: 1
  HistoFile: "WZ"

Sample: "emu"
  Type: BACKGROUND
  Title: "Top/WW/Z(#tau#tau)"
  FillColor: 12
  UseMCstat: FALSE
  LineColor: 1
  HistoFile: "emu"

Sample: "Zjets"
  Type: BACKGROUND
  Title: "Zjets"
  FillColor: 5
  UseMCstat: FALSE
  LineColor: 1
  HistoFile: "Zjets"

Sample: "Other"
  Type: BACKGROUND
  Title: "Others"
  FillColor: 7 
  UseMCstat: FALSE
  LineColor: 1
  HistoFile: "Other"


Sample: "Wjets"
  Type: BACKGROUND
  Title: "FakeLepton"
  FillColor: 6
  UseMCstat: FALSE
  LineColor: 1
  HistoFile: "Wjets"



NormFactor: "mu"
  Title: "#mu"
  Nominal: 1
  Min: -10
  Max: 10
  Samples: Signal
 


Systematic: "JET_EtaIntercalibration_NonClosure"; "JET_GroupedNP_1"; "JET_GroupedNP_2"; "JET_GroupedNP_3" 
  Title: "JET_EtaIntercalibration_NonClosure"; "JET_GroupedNP_1"; "JET_GroupedNP_2"; "JET_GroupedNP_3" 
  Type: HISTO
  HistoNameSufUp: "_JET_EtaIntercalibration_NonClosure_up"; "_JET_GroupedNP_1_up"; "_JET_GroupedNP_2_up"; "_JET_GroupedNP_3_up" 
  HistoNameSufDown: "_JET_EtaIntercalibration_NonClosure_down"; "_JET_GroupedNP_1_down"; "_JET_GroupedNP_2_down"; "_JET_GroupedNP_3_down" 
  Samples: ggZZ, qqZZ, WZ, Signal, Other
  %  Smoothing: 40
  Category: JET 

Systematic: "JET_JER_SINGLE_NP" 
  Title: "JET_JER_SINGLE_NP" 
  Type: HISTO
  HistoNameSufUp: "_JET_JER_SINGLE_NP_up" 
  HistoNameSufDown: "_Nominal" 
  Samples: ggZZ, qqZZ, WZ, Signal, Other
  %  Smoothing: 40
  Category: JET 


        
Systematic: "MET_SoftTrk_Scale" 
  Title: "MET_SoftTrk_Scale" 
  Type: HISTO
  HistoNameSufUp: "_MET_SoftTrk_Scale_up" 
  HistoNameSufDown: "_MET_SoftTrk_Scale_down" 
  Samples: ggZZ, qqZZ, WZ, Signal, Other
  %  Smoothing: 40
  Category: MET 

Systematic: "MET_SoftTrk_ResoPara"; "MET_SoftTrk_ResoPerp" 
  Title: "MET_SoftTrk_ResoPara"; "MET_SoftTrk_ResoPerp" 
  Type: HISTO
  HistoNameSufUp: "_MET_SoftTrk_ResoPara_up"; "_MET_SoftTrk_ResoPerp_up" 
  HistoNameSufDown: "_Nominal"; "_Nominal" 
  Samples: ggZZ, qqZZ, WZ, Signal, Other
  %  Smoothing: 40
  Category: MET 


        
Systematic: "lumi" 
  Title: "lumi" 
  Type: HISTO
  HistoNameSufUp: "_lumi_up" 
  HistoNameSufDown: "_lumi_down" 
  Samples: ggZZ, qqZZ,  Signal, Other
  %  Smoothing: 40
  Category: lumi 
    
Systematic: "EL_EFF_ID_TOTAL_1NPCOR_PLUS_UNCOR"; "EL_EFF_Iso_TOTAL_1NPCOR_PLUS_UNCOR"; "EL_EFF_Reco_TOTAL_1NPCOR_PLUS_UNCOR"; "EL_EFF_Trigger_TOTAL_1NPCOR_PLUS_UNCOR" 
  Title: "EL_EFF_ID_TOTAL_1NPCOR_PLUS_UNCOR"; "EL_EFF_Iso_TOTAL_1NPCOR_PLUS_UNCOR"; "EL_EFF_Reco_TOTAL_1NPCOR_PLUS_UNCOR"; "EL_EFF_Trigger_TOTAL_1NPCOR_PLUS_UNCOR" 
  Type: HISTO
  HistoNameSufUp: "_EL_EFF_ID_TOTAL_1NPCOR_PLUS_UNCOR_up"; "_EL_EFF_Iso_TOTAL_1NPCOR_PLUS_UNCOR_up"; "_EL_EFF_Reco_TOTAL_1NPCOR_PLUS_UNCOR_up"; "_EL_EFF_Trigger_TOTAL_1NPCOR_PLUS_UNCOR_up" 
  HistoNameSufDown: "_EL_EFF_ID_TOTAL_1NPCOR_PLUS_UNCOR_down"; "_EL_EFF_Iso_TOTAL_1NPCOR_PLUS_UNCOR_down"; "_EL_EFF_Reco_TOTAL_1NPCOR_PLUS_UNCOR_down"; "_EL_EFF_Trigger_TOTAL_1NPCOR_PLUS_UNCOR_down" 
  Samples: ggZZ, qqZZ, WZ, Signal, Other
  %  Smoothing: 40
  Category: EL 
        
Systematic: "EG_RESOLUTION_ALL"; "EG_SCALE_ALL" 
  Title: "EG_RESOLUTION_ALL"; "EG_SCALE_ALL" 
  Type: HISTO
  HistoNameSufUp: "_EG_RESOLUTION_ALL_up"; "_EG_SCALE_ALL_up" 
  HistoNameSufDown: "_EG_RESOLUTION_ALL_down"; "_EG_SCALE_ALL_down" 
  Samples: ggZZ, qqZZ, WZ, Signal, Other
  %  Smoothing: 40
  Category: EG 
        
Systematic: "FT_EFF_B_systematics"; "FT_EFF_C_systematics"; "FT_EFF_extrapolation__1"; "FT_EFF_extrapolation_from_charm"; "FT_EFF_Light_systematics" 
  Title: "FT_EFF_B_systematics"; "FT_EFF_C_systematics"; "FT_EFF_extrapolation__1"; "FT_EFF_extrapolation_from_charm"; "FT_EFF_Light_systematics" 
  Type: HISTO
  HistoNameSufUp: "_FT_EFF_B_systematics_up"; "_FT_EFF_C_systematics_up"; "_FT_EFF_extrapolation__1_up"; "_FT_EFF_extrapolation_from_charm_up"; "_FT_EFF_Light_systematics_up" 
  HistoNameSufDown: "_FT_EFF_B_systematics_down"; "_FT_EFF_C_systematics_down"; "_FT_EFF_extrapolation__1_down"; "_FT_EFF_extrapolation_from_charm_down"; "_FT_EFF_Light_systematics_down" 
  Samples: ggZZ, qqZZ, WZ, Signal, Other
  %  Smoothing: 40
  Category: FT 
        
Systematic: "MUON_EFF_STAT__1"; "MUON_EFF_STAT_LOWPT"; "MUON_EFF_SYS__1"; "MUON_EFF_SYS_LOWPT"; "MUON_EFF_TrigStatUncertainty"; "MUON_EFF_TrigSystUncertainty"; "MUON_ISO_STAT"; "MUON_ISO_SYS"; "MUONS_ID"; "MUONS_MS"; "MUONS_SCALE" 
  Title: "MUON_EFF_STAT__1"; "MUON_EFF_STAT_LOWPT"; "MUON_EFF_SYS__1"; "MUON_EFF_SYS_LOWPT"; "MUON_EFF_TrigStatUncertainty"; "MUON_EFF_TrigSystUncertainty"; "MUON_ISO_STAT"; "MUON_ISO_SYS"; "MUONS_ID"; "MUONS_MS"; "MUONS_SCALE" 
  Type: HISTO
  HistoNameSufUp: "_MUON_EFF_STAT__1_up"; "_MUON_EFF_STAT_LOWPT_up"; "_MUON_EFF_SYS__1_up"; "_MUON_EFF_SYS_LOWPT_up"; "_MUON_EFF_TrigStatUncertainty_up"; "_MUON_EFF_TrigSystUncertainty_up"; "_MUON_ISO_STAT_up"; "_MUON_ISO_SYS_up"; "_MUONS_ID_up"; "_MUONS_MS_up"; "_MUONS_SCALE_up" 
  HistoNameSufDown: "_MUON_EFF_STAT__1_down"; "_MUON_EFF_STAT_LOWPT_down"; "_MUON_EFF_SYS__1_down"; "_MUON_EFF_SYS_LOWPT_down"; "_MUON_EFF_TrigStatUncertainty_down"; "_MUON_EFF_TrigSystUncertainty_down"; "_MUON_ISO_STAT_down"; "_MUON_ISO_SYS_down"; "_MUONS_ID_down"; "_MUONS_MS_down"; "_MUONS_SCALE_down" 
  Samples: ggZZ, qqZZ, WZ, Signal, Other
  %  Smoothing: 40
  Category: MU 

Systematic:  "MUSF" 
  Title:  "MUSF" 
  Type: HISTO
  HistoNameSufUp:  "_MUSF_up" 
  HistoNameSufDown:  "_MUSF_down" 
  Samples: ggZZ, qqZZ, Signal, Other
  %  Smoothing: 40
  Category: MU 
 
        
Systematic: "JvtEfficiency" 
  Title: "JvtEfficiency" 
  Type: HISTO
  HistoNameSufUp: "_JvtEfficiency_up" 
  HistoNameSufDown: "_JvtEfficiency_down" 
  Samples: ggZZ, qqZZ, WZ, Signal, Other
  %  Smoothing: 40
  Category: Jvt 
        
Systematic: "PRW_DATASF" 
  Title: "PRW_DATASF" 
  Type: HISTO
  HistoNameSufUp: "_PRW_DATASF_up" 
  HistoNameSufDown: "_PRW_DATASF_down" 
  Samples: ggZZ, qqZZ, WZ, Signal, Other
  %  Smoothing: 40
  Category: PRW 
        
Systematic: "BkgQCD"; "BkgPDF"; "BkgSHW"; "BkgShape" 
  Title: "BkgQCD"; "BkgPDF"; "BkgSHW"; "BkgShape" 
  Type: HISTO
  HistoNameSufUp: "_BkgQCD_up"; "_BkgPDF_up"; "_BkgSHW_up"; "_BkgShape_up" 
  HistoNameSufDown: "_BkgQCD_down"; "_BkgPDF_down"; "_BkgSHW_down"; "_BkgShape_down" 
  Samples: qqZZ 
  %  Smoothing: 40
  Category: misc 
    
Systematic: "ggZZ_ggZZTheo" 
  Title: "ggZZ_ggZZTheo" 
  Type: HISTO
  HistoNameSufUp: "_ggZZTheo_up" 
  HistoNameSufDown: "_ggZZTheo_down" 
  Samples: ggZZ 
  %  Smoothing: 40
  Category: misc 
    
Systematic: "BkgQCD"; "BkgPDF"; "WZScaleInEff"; "WZScaleStat"; "WZScaleSys" 
  Title: "BkgQCD"; "BkgPDF"; "WZScaleInEff"; "WZScaleStat"; "WZScaleSys" 
  Type: HISTO
  HistoNameSufUp: "_BkgQCD_up"; "_BkgPDF_up"; "_WZScaleInEff_up"; "_WZScaleStat_up"; "_WZScaleSys_up" 
  HistoNameSufDown: "_BkgQCD_down"; "_BkgPDF_down"; "_WZScaleInEff_down"; "_WZScaleStat_down"; "_WZScaleSys_down" 
  Samples: WZ 
  %  Smoothing: 40
  Category: misc 
    
Systematic: "emu_emu_Stat"; "emu_emu_Sys" 
  Title: "emu_emu_Stat"; "emu_emu_Sys" 
  Type: HISTO
  HistoNameSufUp: "_emu_Stat_up"; "_emu_Sys_up" 
  HistoNameSufDown: "_emu_Stat_down"; "_emu_Sys_down" 
  Samples: emu 
  %  Smoothing: 40
  Category: misc 
    
Systematic: "Zjets_ABCD_Sys" 
  Title: "Zjets_ABCD_Sys" 
  Type: HISTO
  HistoNameSufUp: "_ABCD_Sys_up" 
  HistoNameSufDown: "_ABCD_Sys_down" 
  Samples: Zjets 
  %  Smoothing: 40
  Category: misc 
    
Systematic: "Wjets_Wjets_Sys" 
  Title: "Wjets_Wjets_Sys" 
  Type: HISTO
  HistoNameSufUp: "_Wjets_Sys_up" 
  HistoNameSufDown: "_Wjets_Sys_down" 
  Samples: Wjets 
  %  Smoothing: 40
  Category: misc 
    
%Systematic: "Signal_SigQCD"; "Signal_SigPDF"; "Signal_SigSHW" 
%  Title: "Signal_SigQCD"; "Signal_SigPDF"; "Signal_SigSHW" 
%  Type: HISTO
%  HistoNameSufUp: "_SigQCD_up"; "_SigPDF_up"; "_SigSHW_up" 
%  HistoNameSufDown: "_SigQCD_down"; "_SigPDF_down"; "_SigSHW_down" 
%  Samples: Signal 
%  %  Smoothing: 40
%  Category: misc 
    

Systematic: "qqZZMCStatChneeBin10"; "qqZZMCStatChneeBin11"; "qqZZMCStatChneeBin12"; "qqZZMCStatChneeBin13"; "qqZZMCStatChneeBin14"; "qqZZMCStatChneeBin15"; "qqZZMCStatChneeBin16"; "qqZZMCStatChneeBin17"; "qqZZMCStatChneeBin6"; "qqZZMCStatChneeBin7"; "qqZZMCStatChneeBin8"; "qqZZMCStatChneeBin9" 
  Title: "qqZZMCStatChneeBin10"; "qqZZMCStatChneeBin11"; "qqZZMCStatChneeBin12"; "qqZZMCStatChneeBin13"; "qqZZMCStatChneeBin14"; "qqZZMCStatChneeBin15"; "qqZZMCStatChneeBin16"; "qqZZMCStatChneeBin17"; "qqZZMCStatChneeBin6"; "qqZZMCStatChneeBin7"; "qqZZMCStatChneeBin8"; "qqZZMCStatChneeBin9" 
  Type: HISTO
  Regions: SR_ee
  HistoNameSufUp: "_qqZZMCStatChneeBin10_up"; "_qqZZMCStatChneeBin11_up"; "_qqZZMCStatChneeBin12_up"; "_qqZZMCStatChneeBin13_up"; "_qqZZMCStatChneeBin14_up"; "_qqZZMCStatChneeBin15_up"; "_qqZZMCStatChneeBin16_up"; "_qqZZMCStatChneeBin17_up"; "_qqZZMCStatChneeBin6_up"; "_qqZZMCStatChneeBin7_up"; "_qqZZMCStatChneeBin8_up"; "_qqZZMCStatChneeBin9_up" 
  HistoNameSufDown: "_qqZZMCStatChneeBin10_down"; "_qqZZMCStatChneeBin11_down"; "_qqZZMCStatChneeBin12_down"; "_qqZZMCStatChneeBin13_down"; "_qqZZMCStatChneeBin14_down"; "_qqZZMCStatChneeBin15_down"; "_qqZZMCStatChneeBin16_down"; "_qqZZMCStatChneeBin17_down"; "_qqZZMCStatChneeBin6_down"; "_qqZZMCStatChneeBin7_down"; "_qqZZMCStatChneeBin8_down"; "_qqZZMCStatChneeBin9_down" 
  Samples: qqZZ 
  %  Smoothing: 40
  Category: MCStat_ee_qqZZ 
    
Systematic: "ggZZMCStatChneeBin10"; "ggZZMCStatChneeBin11"; "ggZZMCStatChneeBin12"; "ggZZMCStatChneeBin13"; "ggZZMCStatChneeBin14"; "ggZZMCStatChneeBin15"; "ggZZMCStatChneeBin16"; "ggZZMCStatChneeBin17"; "ggZZMCStatChneeBin6"; "ggZZMCStatChneeBin7"; "ggZZMCStatChneeBin8"; "ggZZMCStatChneeBin9" 
  Title: "ggZZMCStatChneeBin10"; "ggZZMCStatChneeBin11"; "ggZZMCStatChneeBin12"; "ggZZMCStatChneeBin13"; "ggZZMCStatChneeBin14"; "ggZZMCStatChneeBin15"; "ggZZMCStatChneeBin16"; "ggZZMCStatChneeBin17"; "ggZZMCStatChneeBin6"; "ggZZMCStatChneeBin7"; "ggZZMCStatChneeBin8"; "ggZZMCStatChneeBin9" 
  Type: HISTO
  Regions: SR_ee
  HistoNameSufUp: "_ggZZMCStatChneeBin10_up"; "_ggZZMCStatChneeBin11_up"; "_ggZZMCStatChneeBin12_up"; "_ggZZMCStatChneeBin13_up"; "_ggZZMCStatChneeBin14_up"; "_ggZZMCStatChneeBin15_up"; "_ggZZMCStatChneeBin16_up"; "_ggZZMCStatChneeBin17_up"; "_ggZZMCStatChneeBin6_up"; "_ggZZMCStatChneeBin7_up"; "_ggZZMCStatChneeBin8_up"; "_ggZZMCStatChneeBin9_up" 
  HistoNameSufDown: "_ggZZMCStatChneeBin10_down"; "_ggZZMCStatChneeBin11_down"; "_ggZZMCStatChneeBin12_down"; "_ggZZMCStatChneeBin13_down"; "_ggZZMCStatChneeBin14_down"; "_ggZZMCStatChneeBin15_down"; "_ggZZMCStatChneeBin16_down"; "_ggZZMCStatChneeBin17_down"; "_ggZZMCStatChneeBin6_down"; "_ggZZMCStatChneeBin7_down"; "_ggZZMCStatChneeBin8_down"; "_ggZZMCStatChneeBin9_down" 
  Samples: ggZZ 
  %  Smoothing: 40
  Category: MCStat_ee_ggZZ 
    
Systematic: "WZMCStatChneeBin10"; "WZMCStatChneeBin11"; "WZMCStatChneeBin12"; "WZMCStatChneeBin13"; "WZMCStatChneeBin14"; "WZMCStatChneeBin15"; "WZMCStatChneeBin16"; "WZMCStatChneeBin17"; "WZMCStatChneeBin6"; "WZMCStatChneeBin7"; "WZMCStatChneeBin8"; "WZMCStatChneeBin9" 
  Title: "WZMCStatChneeBin10"; "WZMCStatChneeBin11"; "WZMCStatChneeBin12"; "WZMCStatChneeBin13"; "WZMCStatChneeBin14"; "WZMCStatChneeBin15"; "WZMCStatChneeBin16"; "WZMCStatChneeBin17"; "WZMCStatChneeBin6"; "WZMCStatChneeBin7"; "WZMCStatChneeBin8"; "WZMCStatChneeBin9" 
  Type: HISTO
  Regions: SR_ee
  HistoNameSufUp: "_WZMCStatChneeBin10_up"; "_WZMCStatChneeBin11_up"; "_WZMCStatChneeBin12_up"; "_WZMCStatChneeBin13_up"; "_WZMCStatChneeBin14_up"; "_WZMCStatChneeBin15_up"; "_WZMCStatChneeBin16_up"; "_WZMCStatChneeBin17_up"; "_WZMCStatChneeBin6_up"; "_WZMCStatChneeBin7_up"; "_WZMCStatChneeBin8_up"; "_WZMCStatChneeBin9_up" 
  HistoNameSufDown: "_WZMCStatChneeBin10_down"; "_WZMCStatChneeBin11_down"; "_WZMCStatChneeBin12_down"; "_WZMCStatChneeBin13_down"; "_WZMCStatChneeBin14_down"; "_WZMCStatChneeBin15_down"; "_WZMCStatChneeBin16_down"; "_WZMCStatChneeBin17_down"; "_WZMCStatChneeBin6_down"; "_WZMCStatChneeBin7_down"; "_WZMCStatChneeBin8_down"; "_WZMCStatChneeBin9_down" 
  Samples: WZ 
  %  Smoothing: 40
  Category: MCStat_ee_WZ 
    
Systematic: "emuMCStatChneeBin15"; "emuMCStatChneeBin17"; "emuMCStatChneeBin6"; "emuMCStatChneeBin7"; "emuMCStatChneeBin8"; "emuMCStatChneeBin9" 
  Title: "emuMCStatChneeBin15"; "emuMCStatChneeBin17"; "emuMCStatChneeBin6"; "emuMCStatChneeBin7"; "emuMCStatChneeBin8"; "emuMCStatChneeBin9" 
  Type: HISTO
  Regions: SR_ee
  HistoNameSufUp: "_emuMCStatChneeBin15_up"; "_emuMCStatChneeBin17_up"; "_emuMCStatChneeBin6_up"; "_emuMCStatChneeBin7_up"; "_emuMCStatChneeBin8_up"; "_emuMCStatChneeBin9_up" 
  HistoNameSufDown: "_emuMCStatChneeBin15_down"; "_emuMCStatChneeBin17_down"; "_emuMCStatChneeBin6_down"; "_emuMCStatChneeBin7_down"; "_emuMCStatChneeBin8_down"; "_emuMCStatChneeBin9_down" 
  Samples: emu 
  %  Smoothing: 40
  Category: MCStat_ee_emu 
    
Systematic: "ZjetsMCStatChneeBin10"; "ZjetsMCStatChneeBin11"; "ZjetsMCStatChneeBin6"; "ZjetsMCStatChneeBin7"; "ZjetsMCStatChneeBin8"; "ZjetsMCStatChneeBin9"; "Zjets_ABCD_Stat_ee"; "Zjets_ABCD_Shape_ee" 
  Title: "ZjetsMCStatChneeBin10"; "ZjetsMCStatChneeBin11"; "ZjetsMCStatChneeBin6"; "ZjetsMCStatChneeBin7"; "ZjetsMCStatChneeBin8"; "ZjetsMCStatChneeBin9"; "Zjets_ABCD_Stat_ee"; "Zjets_ABCD_Shape_ee" 
  Type: HISTO
  Regions: SR_ee
  HistoNameSufUp: "_ZjetsMCStatChneeBin10_up"; "_ZjetsMCStatChneeBin11_up"; "_ZjetsMCStatChneeBin6_up"; "_ZjetsMCStatChneeBin7_up"; "_ZjetsMCStatChneeBin8_up"; "_ZjetsMCStatChneeBin9_up"; "_ABCD_Stat_up"; "_ABCD_Shape_up" 
  HistoNameSufDown: "_ZjetsMCStatChneeBin10_down"; "_ZjetsMCStatChneeBin11_down"; "_ZjetsMCStatChneeBin6_down"; "_ZjetsMCStatChneeBin7_down"; "_ZjetsMCStatChneeBin8_down"; "_ZjetsMCStatChneeBin9_down"; "_ABCD_Stat_down"; "_Nominal" 
  Samples: Zjets 
  %  Smoothing: 40
  Category: MCStat_ee_Zjets 
    
Systematic: "OtherMCStatChneeBin10"; "OtherMCStatChneeBin11"; "OtherMCStatChneeBin12"; "OtherMCStatChneeBin13"; "OtherMCStatChneeBin14"; "OtherMCStatChneeBin15"; "OtherMCStatChneeBin16"; "OtherMCStatChneeBin17"; "OtherMCStatChneeBin6"; "OtherMCStatChneeBin7"; "OtherMCStatChneeBin8"; "OtherMCStatChneeBin9" 
  Title: "OtherMCStatChneeBin10"; "OtherMCStatChneeBin11"; "OtherMCStatChneeBin12"; "OtherMCStatChneeBin13"; "OtherMCStatChneeBin14"; "OtherMCStatChneeBin15"; "OtherMCStatChneeBin16"; "OtherMCStatChneeBin17"; "OtherMCStatChneeBin6"; "OtherMCStatChneeBin7"; "OtherMCStatChneeBin8"; "OtherMCStatChneeBin9" 
  Type: HISTO
  Regions: SR_ee
  HistoNameSufUp: "_OtherMCStatChneeBin10_up"; "_OtherMCStatChneeBin11_up"; "_OtherMCStatChneeBin12_up"; "_OtherMCStatChneeBin13_up"; "_OtherMCStatChneeBin14_up"; "_OtherMCStatChneeBin15_up"; "_OtherMCStatChneeBin16_up"; "_OtherMCStatChneeBin17_up"; "_OtherMCStatChneeBin6_up"; "_OtherMCStatChneeBin7_up"; "_OtherMCStatChneeBin8_up"; "_OtherMCStatChneeBin9_up" 
  HistoNameSufDown: "_OtherMCStatChneeBin10_down"; "_OtherMCStatChneeBin11_down"; "_OtherMCStatChneeBin12_down"; "_OtherMCStatChneeBin13_down"; "_OtherMCStatChneeBin14_down"; "_OtherMCStatChneeBin15_down"; "_OtherMCStatChneeBin16_down"; "_OtherMCStatChneeBin17_down"; "_OtherMCStatChneeBin6_down"; "_OtherMCStatChneeBin7_down"; "_OtherMCStatChneeBin8_down"; "_OtherMCStatChneeBin9_down" 
  Samples: Other 
  %  Smoothing: 40
  Category: MCStat_ee_Other 
    
Systematic: "Graviton700MCStatChneeBin10"; "Graviton700MCStatChneeBin11"; "Graviton700MCStatChneeBin12"; "Graviton700MCStatChneeBin13"; "Graviton700MCStatChneeBin14"; "Graviton700MCStatChneeBin15"; "Graviton700MCStatChneeBin16"; "Graviton700MCStatChneeBin17"; "Graviton700MCStatChneeBin7"; "Graviton700MCStatChneeBin8"; "Graviton700MCStatChneeBin9" 
  Title: "Graviton700MCStatChneeBin10"; "Graviton700MCStatChneeBin11"; "Graviton700MCStatChneeBin12"; "Graviton700MCStatChneeBin13"; "Graviton700MCStatChneeBin14"; "Graviton700MCStatChneeBin15"; "Graviton700MCStatChneeBin16"; "Graviton700MCStatChneeBin17"; "Graviton700MCStatChneeBin7"; "Graviton700MCStatChneeBin8"; "Graviton700MCStatChneeBin9" 
  Type: HISTO
  Regions: SR_ee
  HistoNameSufUp: "_Graviton700MCStatChneeBin10_up"; "_Graviton700MCStatChneeBin11_up"; "_Graviton700MCStatChneeBin12_up"; "_Graviton700MCStatChneeBin13_up"; "_Graviton700MCStatChneeBin14_up"; "_Graviton700MCStatChneeBin15_up"; "_Graviton700MCStatChneeBin16_up"; "_Graviton700MCStatChneeBin17_up"; "_Graviton700MCStatChneeBin7_up"; "_Graviton700MCStatChneeBin8_up"; "_Graviton700MCStatChneeBin9_up" 
  HistoNameSufDown: "_Graviton700MCStatChneeBin10_down"; "_Graviton700MCStatChneeBin11_down"; "_Graviton700MCStatChneeBin12_down"; "_Graviton700MCStatChneeBin13_down"; "_Graviton700MCStatChneeBin14_down"; "_Graviton700MCStatChneeBin15_down"; "_Graviton700MCStatChneeBin16_down"; "_Graviton700MCStatChneeBin17_down"; "_Graviton700MCStatChneeBin7_down"; "_Graviton700MCStatChneeBin8_down"; "_Graviton700MCStatChneeBin9_down" 
  Samples: Signal 
  %  Smoothing: 40
  Category: MCStat_ee_Graviton700 
    