Job: "Graviton_900"
  Label: "Graviton_900"
  CmeLabel: "13 TeV"
  LumiLabel: "13.3 fb^{-1}"
  POI: "mu"
  ReadFrom: HIST
%  HistoPath: "/afs/cern.ch/user/b/boliu/public/ZHinv/input/fullDS/merge/"
%  HistoPath: "/afs/cern.ch/user/b/boliu/public/ZHinv/input/input_Feb/merge/"
  HistoPath: "/data/boliu/ZHllvv/input/v3/HighMass/ichecp_final/"
%  DebugLevel: 1
  SystControlPlots: TRUE

Fit: "myFit"
  FitType: SPLUSB
  FitRegion: CRSR
  FitBlind: FALSE
%  POIAsimov: 1
  UseMinos: all
  
Limit: "limit"
  LimitType: ASYMPTOTIC
  NScanPoints: 100
  POIScanMin: 0
  POIScanMax: -1
  LimitBlind: FALSE
%  POIAsimov: 0

Region: "SR_ee"
  Type: SIGNAL
%  Type: CONTROL
  HistoName: "mT_ee"
  VariableTitle: "mT [GeV]"
  Label: "Signal Region ee"
  ShortLabel: "SR ee"
%  DataType: ASIMOV
  DataType: DATA

Region: "SR_mm"
  Type: SIGNAL
%  Type: CONTROL
  HistoName: "mT_mm"
  VariableTitle: "mT [GeV]"
  Label: "Signal Region mm"
  ShortLabel: "SR mm"
  DataType: DATA
%  DataType: ASIMOV 


Sample: "Data"
  Title: "Data"
  Type: DATA
  HistoFile: "data"

Sample: "Signal"
  Type: SIGNAL
  Title: "Signal"
  FillColor: 632
  LineColor: 632
  UseMCstat: FALSE
%  NormFactor: "mu",1,-10,10
  HistoFile: "Graviton900"
  Regions: "SR_ee", "SR_mm"
 
    
Sample: "qqZZ"
  Type: BACKGROUND
  Title: "qqZZ"
  FillColor: 65
  UseMCstat: FALSE
  LineColor: 1
  HistoFile: "qqZZ"

Sample: "ggZZ"
  Type: BACKGROUND
  Title: "ggZZ"
  FillColor: 9
  UseMCstat: FALSE
  LineColor: 1
  HistoFile: "ggZZ"

Sample: "WZ"
  Type: BACKGROUND
  Title: "WZ"
  FillColor: 98
  UseMCstat: FALSE
  LineColor: 1
  HistoFile: "WZ"

Sample: "emu"
  Type: BACKGROUND
  Title: "Top/WW/Z(#tau#tau)"
  FillColor: 12
  UseMCstat: FALSE
  LineColor: 1
  HistoFile: "emu"

Sample: "Zjets"
  Type: BACKGROUND
  Title: "Zjets"
  FillColor: 5
  UseMCstat: FALSE
  LineColor: 1
  HistoFile: "Zjets"

Sample: "Other"
  Type: BACKGROUND
  Title: "Others"
  FillColor: 7 
  UseMCstat: FALSE
  LineColor: 1
  HistoFile: "Other"


Sample: "Wjets"
  Type: BACKGROUND
  Title: "FakeLepton"
  FillColor: 6
  UseMCstat: FALSE
  LineColor: 1
  HistoFile: "Wjets"




NormFactor: "mu"
  Title: "#mu"
  Nominal: 1
  Min: -10
  Max: 10
  Samples: Signal
 

Systematic: "lumi" 
  Title: "lumi" 
  Type: OVERALL
  OverallUp: 0.00
  OverallDown: -0.00
  Samples: ggZZ, qqZZ,  Signal
  %  Smoothing: 40
  Category: lumi 
 
