Job: "HZZllvvFit"
  Label: "HZZllvvFit"
  CmeLabel: "13 TeV"
  LumiLabel: "3.21 fb^{-1}"
  POI: "SigXsecOverSM"
  ReadFrom: HIST
%  HistoPath: "/afs/cern.ch/user/b/boliu/public/ZHinv/input/fullDS/merge/"
  HistoPath: "/afs/cern.ch/user/b/boliu/public/ZHinv/input/input_Feb/merge/"
  DebugLevel: 0
%  SystControlPlots: FALSE

Fit: "myFit"
  FitType: SPLUSB
  FitRegion: CRSR

Limit: "limit"
  LimitType: ASYMPTOTIC
  LimitBlind: FALSE

Region: "SR_ee"
  Type: SIGNAL
%  Type: CONTROL
  HistoName: "mT_ggHeeFinal"
  VariableTitle: "M_{T} [GeV]"
  Label: "Signal Region ee"
  ShortLabel: "SR ee"

Region: "SR_mm"
  Type: SIGNAL
%  Type: CONTROL
  HistoName: "mT_ggHmumuFinal"
  VariableTitle: "M_{T} [GeV]"
  Label: "Signal Region mm"
  ShortLabel: "SR mm"


Sample: "Data"
  Title: "Data 2015"
  Type: DATA
  HistoFile: "input_data"
    
Sample: "ZZ"
  Type: BACKGROUND
  Title: "ZZ"
  FillColor: 400
  LineColor: 1
  HistoFile: "input_ZZ"

Sample: "ggZZ"
  Type: BACKGROUND
  Title: "ggZZ"
  FillColor: 410
  LineColor: 1
  HistoFile: "input_ggZZ"

Sample: "WZ"
  Type: BACKGROUND
  Title: "WZ"
  FillColor: 591
  LineColor: 1
  HistoFile: "input_WZ"

Sample: "Zll"
  Type: BACKGROUND
  Title: "Zll"
  FillColor: 420
  LineColor: 1
  HistoFile: "input_Zll"

Sample: "EM"
  Type: BACKGROUND
  Title: "Top/Z#tau#tau/WW"
  FillColor: 510
  LineColor: 1
  HistoFile: "input_EM"


Sample: "Signal"
  Type: SIGNAL
  Title: "Signal"
  FillColor: 632
  LineColor: 632
  NormFactor: "SigXsecOverSM",1,0,100
  HistoFile: "input_ggH300"
  
Systematic: "JET_JER_SINGLE_NP"; "JET_GroupedNP_1"; "JET_GroupedNP_2"; "JET_GroupedNP_3" 
  Title: "JET_JER_SINGLE_NP"; "JET_GroupedNP_1"; "JET_GroupedNP_2"; "JET_GroupedNP_3" 
  Type: HISTO
  HistoNameSufUp: "_JET_JER_SINGLE_NP_up"; "_JET_GroupedNP_1_up"; "_JET_GroupedNP_2_up"; "_JET_GroupedNP_3_up" 
  HistoNameSufDown: "_JET_JER_SINGLE_NP_down"; "_JET_GroupedNP_1_down"; "_JET_GroupedNP_2_down"; "_JET_GroupedNP_3_down" 
  Samples: ggZZ, ZZ, WZ, Signal
  %  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Jet 
    

Systematic: "MUONS_ID"; "MUONS_MS"; "MUONS_SCALE"; "MUON_EFF_STAT"; "MUON_EFF_SYS"; "MUON_ISO_STAT"; "MUON_ISO_SYS"; "MUON_EFF_TrigStatUncertainty"; "MUON_EFF_TrigSystUncertainty" 
  Title: "MUONS_ID"; "MUONS_MS"; "MUONS_SCALE"; "MUON_EFF_STAT"; "MUON_EFF_SYS"; "MUON_ISO_STAT"; "MUON_ISO_SYS"; "MUON_EFF_TrigStatUncertainty"; "MUON_EFF_TrigSystUncertainty" 
  Type: HISTO
  HistoNameSufUp: "_MUONS_ID_up"; "_MUONS_MS_up"; "_MUONS_SCALE_up"; "_MUON_EFF_STAT_up"; "_MUON_EFF_SYS_up"; "_MUON_ISO_STAT_up"; "_MUON_ISO_SYS_up"; "_MUON_EFF_TrigStatUncertainty_up"; "_MUON_EFF_TrigSystUncertainty_up" 
  HistoNameSufDown: "_MUONS_ID_down"; "_MUONS_MS_down"; "_MUONS_SCALE_down"; "_MUON_EFF_STAT_down"; "_MUON_EFF_SYS_down"; "_MUON_ISO_STAT_down"; "_MUON_ISO_SYS_down"; "_MUON_EFF_TrigStatUncertainty_down"; "_MUON_EFF_TrigSystUncertainty_down" 
  Samples: ggZZ, ZZ, WZ, Signal
  %  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Muon 
    

Systematic: "EG_RESOLUTION_ALL"; "EG_SCALE_ALL"; "EL_EFF_ID_TotalCorrUncertainty"; "EL_EFF_Reco_TotalCorrUncertainty"; "EL_EFF_Trigger_TotalCorrUncertainty" 
  Title: "EG_RESOLUTION_ALL"; "EG_SCALE_ALL"; "EL_EFF_ID_TotalCorrUncertainty"; "EL_EFF_Reco_TotalCorrUncertainty"; "EL_EFF_Trigger_TotalCorrUncertainty" 
  Type: HISTO
  HistoNameSufUp: "_EG_RESOLUTION_ALL_up"; "_EG_SCALE_ALL_up"; "_EL_EFF_ID_TotalCorrUncertainty_up"; "_EL_EFF_Reco_TotalCorrUncertainty_up"; "_EL_EFF_Trigger_TotalCorrUncertainty_up" 
  HistoNameSufDown: "_EG_RESOLUTION_ALL_down"; "_EG_SCALE_ALL_down"; "_EL_EFF_ID_TotalCorrUncertainty_down"; "_EL_EFF_Reco_TotalCorrUncertainty_down"; "_EL_EFF_Trigger_TotalCorrUncertainty_down" 
  Samples: ggZZ, ZZ, WZ, Signal
  %  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Electron 
    

Systematic: "MET_SoftTrk_ResoPara"; "MET_SoftTrk_ResoPerp"; "MET_SoftTrk_Scale" 
  Title: "MET_SoftTrk_ResoPara"; "MET_SoftTrk_ResoPerp"; "MET_SoftTrk_Scale" 
  Type: HISTO
  HistoNameSufUp: "_MET_SoftTrk_ResoPara_up"; "_MET_SoftTrk_ResoPerp_up"; "_MET_SoftTrk_Scale_up" 
  HistoNameSufDown: "_MET_SoftTrk_ResoPara_down"; "_MET_SoftTrk_ResoPerp_down"; "_MET_SoftTrk_Scale_down" 
  Samples: ggZZ, ZZ, WZ, Signal
  %  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: MET 
    

Systematic: "FT_EFF_B_systematics"; "FT_EFF_C_systematics"; "FT_EFF_Light_systematics"; "FT_EFF_extrapolation" 
  Title: "FT_EFF_B_systematics"; "FT_EFF_C_systematics"; "FT_EFF_Light_systematics"; "FT_EFF_extrapolation" 
  Type: HISTO
  HistoNameSufUp: "_FT_EFF_B_systematics_up"; "_FT_EFF_C_systematics_up"; "_FT_EFF_Light_systematics_up"; "_FT_EFF_extrapolation_up" 
  HistoNameSufDown: "_FT_EFF_B_systematics_down"; "_FT_EFF_C_systematics_down"; "_FT_EFF_Light_systematics_down"; "_FT_EFF_extrapolation_down" 
  Samples: ggZZ, ZZ, WZ, Signal
  %  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Btag 
    

Systematic: "PRW_DATASF"; "lumi" 
  Title: "PRW_DATASF"; "lumi" 
  Type: HISTO
  HistoNameSufUp: "_PRW_DATASF_up"; "_lumi_up" 
  HistoNameSufDown: "_PRW_DATASF_down"; "_lumi_down" 
  Samples: ggZZ, ZZ, WZ, Signal
  %  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Misc 


Systematic: "theory_QCD"; "theory_PDF"; "theory_SHW" 
  Title: "theory_QCD"; "theory_PDF"; "theory_SHW" 
  Type: HISTO
  HistoNameSufUp: "_theory_QCD_up"; "_theory_PDF_up"; "_theory_SHW_up" 
  HistoNameSufDown: "_theory_QCD_down"; "_theory_PDF_down"; "_theory_SHW_down" 
  Samples: ZZ Signal
  %  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Theory_ZZ 
    

Systematic: "ggZZ_XS" 
  Title: "ggZZ_XS" 
  Type: HISTO
  HistoNameSufUp: "_ggZZ_XS_up" 
  HistoNameSufDown: "_ggZZ_XS_down" 
  Samples: ggZZ
  %  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Theory_ggZZ 
    

Systematic: "theory_QCD"; "theory_PDF"; "WZ_scale" 
  Title: "theory_QCD"; "theory_PDF"; "WZ_scale" 
  Type: HISTO
  HistoNameSufUp: "_theory_QCD_up"; "_theory_PDF_up"; "_WZ_scale_up" 
  HistoNameSufDown: "_theory_QCD_down"; "_theory_PDF_down"; "_WZ_scale_down" 
  Samples: WZ
  %  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: WZ 
    

Systematic: "ABCD_stat"; "ABCD_sys" 
  Title: "ABCD_stat"; "ABCD_sys" 
  Type: HISTO
  HistoNameSufUp: "_ABCD_stat_up"; "_ABCD_sys_up" 
  HistoNameSufDown: "_ABCD_stat_down"; "_ABCD_sys_down" 
  Samples: Zll 
  %  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Zjet 
    

Systematic: "EM_shape" 
  Title: "EM_shape" 
  Type: HISTO
  HistoNameSufUp: "_EM_shape_up" 
  HistoNameSufDown: "_EM_shape_down" 
  Samples: EM
  %  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: EM 

