Job: "HZZllvv_500_mm"
  Label: "HZZllvv_500"
  CmeLabel: "13 TeV"
  LumiLabel: "13.3 fb^{-1}"
  POI: "mu"
  ReadFrom: HIST
%  HistoPath: "/afs/cern.ch/user/b/boliu/public/ZHinv/input/fullDS/merge/"
%  HistoPath: "/afs/cern.ch/user/b/boliu/public/ZHinv/input/input_Feb/merge/"
  HistoPath: "/data/boliu/ZHllvv/input/v3/HighMass/ichecp_final/"
%  DebugLevel: 1
  SystControlPlots: TRUE

Fit: "myFit"
  FitType: SPLUSB
  FitRegion: CRSR
%  FitBlind: FALSE
%  POIAsimov: 1
%  UseMinos: all
  
Limit: "limit"
  LimitType: ASYMPTOTIC
%  LimitBlind: FALSE
%  POIAsimov: 0

Region: "SR_mm"
  Type: SIGNAL
%  Type: CONTROL
  HistoName: "mT_mm"
  LogScale: TRUE
  LogScaleX: FALSE
  VariableTitle: "mT [GeV]"
  Label: "Signal Region mm"
  ShortLabel: "SR mm"
  DataType: DATA
%  DataType: ASIMOV 


Sample: "Data"
  Title: "Data"
  Type: DATA
  HistoFile: "data"

Sample: "Signal"
  Type: SIGNAL
  Title: "Signal"
  FillColor: 8
  LineColor: 8
  UseMCstat: FALSE
%  NormFactor: "mu",1,-10,10
  HistoFile: "ggH500"
 
    
Sample: "qqZZ"
  Type: BACKGROUND
  Title: "qqZZ"
  FillColor: 65
  UseMCstat: FALSE
  LineColor: 1
  HistoFile: "qqZZ"

Sample: "ggZZ"
  Type: BACKGROUND
  Title: "ggZZ"
  FillColor: 9
  UseMCstat: FALSE
  LineColor: 1
  HistoFile: "ggZZ"

Sample: "WZ"
  Type: BACKGROUND
  Title: "WZ"
  FillColor: 98
  UseMCstat: FALSE
  LineColor: 1
  HistoFile: "WZ"

Sample: "emu"
  Type: BACKGROUND
  Title: "Top/WW/Z(#tau#tau)"
  FillColor: 12
  UseMCstat: FALSE
  LineColor: 1
  HistoFile: "emu"

Sample: "Zjets"
  Type: BACKGROUND
  Title: "Zjets"
  FillColor: 5
  UseMCstat: FALSE
  LineColor: 1
  HistoFile: "Zjets"

Sample: "Others"
  Type: BACKGROUND
  Title: "Others"
  FillColor: 7 
  UseMCstat: FALSE
  LineColor: 1
  HistoFile: "Others"


NormFactor: "mu"
  Title: "#mu"
  Nominal: 1
  Min: -10
  Max: 10
  Samples: Signal
 


Systematic: "JET_EtaIntercalibration_NonClosure"; "JET_GroupedNP_1"; "JET_GroupedNP_2"; "JET_GroupedNP_3" 
  Title: "JET_EtaIntercalibration_NonClosure"; "JET_GroupedNP_1"; "JET_GroupedNP_2"; "JET_GroupedNP_3" 
  Type: HISTO
  HistoNameSufUp: "_JET_EtaIntercalibration_NonClosure_up"; "_JET_GroupedNP_1_up"; "_JET_GroupedNP_2_up"; "_JET_GroupedNP_3_up" 
  HistoNameSufDown: "_JET_EtaIntercalibration_NonClosure_down"; "_JET_GroupedNP_1_down"; "_JET_GroupedNP_2_down"; "_JET_GroupedNP_3_down" 
  Samples: ggZZ, qqZZ, WZ, Signal, Other
  %  Smoothing: 40
  Category: JET 

Systematic: "JET_JER_SINGLE_NP" 
  Title: "JET_JER_SINGLE_NP" 
  Type: HISTO
  HistoNameSufUp: "_JET_JER_SINGLE_NP_up" 
  HistoNameSufDown: "_Nominal" 
  Samples: ggZZ, qqZZ, WZ, Signal, Other
  %  Smoothing: 40
  Category: JET 


        
Systematic: "MET_SoftTrk_Scale" 
  Title: "MET_SoftTrk_Scale" 
  Type: HISTO
  HistoNameSufUp: "_MET_SoftTrk_Scale_up" 
  HistoNameSufDown: "_MET_SoftTrk_Scale_down" 
  Samples: ggZZ, qqZZ, WZ, Signal, Other
  %  Smoothing: 40
  Category: MET 

Systematic: "MET_SoftTrk_ResoPara"; "MET_SoftTrk_ResoPerp" 
  Title: "MET_SoftTrk_ResoPara"; "MET_SoftTrk_ResoPerp" 
  Type: HISTO
  HistoNameSufUp: "_MET_SoftTrk_ResoPara_up"; "_MET_SoftTrk_ResoPerp_up" 
  HistoNameSufDown: "_Nominal"; "_Nominal" 
  Samples: ggZZ, qqZZ, WZ, Signal, Other
  %  Smoothing: 40
  Category: MET 


        
Systematic: "lumi" 
  Title: "lumi" 
  Type: HISTO
  HistoNameSufUp: "_lumi_up" 
  HistoNameSufDown: "_lumi_down" 
  Samples: ggZZ, qqZZ,  Signal, Other
  %  Smoothing: 40
  Category: lumi 
    
Systematic: "EL_EFF_ID_TOTAL_1NPCOR_PLUS_UNCOR"; "EL_EFF_Iso_TOTAL_1NPCOR_PLUS_UNCOR"; "EL_EFF_Reco_TOTAL_1NPCOR_PLUS_UNCOR"; "EL_EFF_Trigger_TOTAL_1NPCOR_PLUS_UNCOR" 
  Title: "EL_EFF_ID_TOTAL_1NPCOR_PLUS_UNCOR"; "EL_EFF_Iso_TOTAL_1NPCOR_PLUS_UNCOR"; "EL_EFF_Reco_TOTAL_1NPCOR_PLUS_UNCOR"; "EL_EFF_Trigger_TOTAL_1NPCOR_PLUS_UNCOR" 
  Type: HISTO
  HistoNameSufUp: "_EL_EFF_ID_TOTAL_1NPCOR_PLUS_UNCOR_up"; "_EL_EFF_Iso_TOTAL_1NPCOR_PLUS_UNCOR_up"; "_EL_EFF_Reco_TOTAL_1NPCOR_PLUS_UNCOR_up"; "_EL_EFF_Trigger_TOTAL_1NPCOR_PLUS_UNCOR_up" 
  HistoNameSufDown: "_EL_EFF_ID_TOTAL_1NPCOR_PLUS_UNCOR_down"; "_EL_EFF_Iso_TOTAL_1NPCOR_PLUS_UNCOR_down"; "_EL_EFF_Reco_TOTAL_1NPCOR_PLUS_UNCOR_down"; "_EL_EFF_Trigger_TOTAL_1NPCOR_PLUS_UNCOR_down" 
  Samples: ggZZ, qqZZ, WZ, Signal, Other
  %  Smoothing: 40
  Category: EL 
        
Systematic: "EG_RESOLUTION_ALL"; "EG_SCALE_ALL" 
  Title: "EG_RESOLUTION_ALL"; "EG_SCALE_ALL" 
  Type: HISTO
  HistoNameSufUp: "_EG_RESOLUTION_ALL_up"; "_EG_SCALE_ALL_up" 
  HistoNameSufDown: "_EG_RESOLUTION_ALL_down"; "_EG_SCALE_ALL_down" 
  Samples: ggZZ, qqZZ, WZ, Signal, Other
  %  Smoothing: 40
  Category: EG 
        
Systematic: "FT_EFF_B_systematics"; "FT_EFF_C_systematics"; "FT_EFF_extrapolation__1"; "FT_EFF_extrapolation_from_charm"; "FT_EFF_Light_systematics" 
  Title: "FT_EFF_B_systematics"; "FT_EFF_C_systematics"; "FT_EFF_extrapolation__1"; "FT_EFF_extrapolation_from_charm"; "FT_EFF_Light_systematics" 
  Type: HISTO
  HistoNameSufUp: "_FT_EFF_B_systematics_up"; "_FT_EFF_C_systematics_up"; "_FT_EFF_extrapolation__1_up"; "_FT_EFF_extrapolation_from_charm_up"; "_FT_EFF_Light_systematics_up" 
  HistoNameSufDown: "_FT_EFF_B_systematics_down"; "_FT_EFF_C_systematics_down"; "_FT_EFF_extrapolation__1_down"; "_FT_EFF_extrapolation_from_charm_down"; "_FT_EFF_Light_systematics_down" 
  Samples: ggZZ, qqZZ, WZ, Signal, Other
  %  Smoothing: 40
  Category: FT 
        
Systematic: "MUON_EFF_STAT__1"; "MUON_EFF_STAT_LOWPT"; "MUON_EFF_SYS__1"; "MUON_EFF_SYS_LOWPT"; "MUON_EFF_TrigStatUncertainty"; "MUON_EFF_TrigSystUncertainty"; "MUON_ISO_STAT"; "MUON_ISO_SYS"; "MUONS_ID"; "MUONS_MS"; "MUONS_SCALE" 
  Title: "MUON_EFF_STAT__1"; "MUON_EFF_STAT_LOWPT"; "MUON_EFF_SYS__1"; "MUON_EFF_SYS_LOWPT"; "MUON_EFF_TrigStatUncertainty"; "MUON_EFF_TrigSystUncertainty"; "MUON_ISO_STAT"; "MUON_ISO_SYS"; "MUONS_ID"; "MUONS_MS"; "MUONS_SCALE" 
  Type: HISTO
  HistoNameSufUp: "_MUON_EFF_STAT__1_up"; "_MUON_EFF_STAT_LOWPT_up"; "_MUON_EFF_SYS__1_up"; "_MUON_EFF_SYS_LOWPT_up"; "_MUON_EFF_TrigStatUncertainty_up"; "_MUON_EFF_TrigSystUncertainty_up"; "_MUON_ISO_STAT_up"; "_MUON_ISO_SYS_up"; "_MUONS_ID_up"; "_MUONS_MS_up"; "_MUONS_SCALE_up" 
  HistoNameSufDown: "_MUON_EFF_STAT__1_down"; "_MUON_EFF_STAT_LOWPT_down"; "_MUON_EFF_SYS__1_down"; "_MUON_EFF_SYS_LOWPT_down"; "_MUON_EFF_TrigStatUncertainty_down"; "_MUON_EFF_TrigSystUncertainty_down"; "_MUON_ISO_STAT_down"; "_MUON_ISO_SYS_down"; "_MUONS_ID_down"; "_MUONS_MS_down"; "_MUONS_SCALE_down" 
  Samples: ggZZ, qqZZ, WZ, Signal, Other
  %  Smoothing: 40
  Category: MU 

Systematic:  "MUSF" 
  Title:  "MUSF" 
  Type: HISTO
  HistoNameSufUp:  "_MUSF_up" 
  HistoNameSufDown:  "_MUSF_down" 
  Samples: ggZZ, qqZZ, Signal, Other
  %  Smoothing: 40
  Category: MU 
 
        
Systematic: "JvtEfficiency" 
  Title: "JvtEfficiency" 
  Type: HISTO
  HistoNameSufUp: "_JvtEfficiency_up" 
  HistoNameSufDown: "_JvtEfficiency_down" 
  Samples: ggZZ, qqZZ, WZ, Signal, Other
  %  Smoothing: 40
  Category: Jvt 
        
Systematic: "PRW_DATASF" 
  Title: "PRW_DATASF" 
  Type: HISTO
  HistoNameSufUp: "_PRW_DATASF_up" 
  HistoNameSufDown: "_PRW_DATASF_down" 
  Samples: ggZZ, qqZZ, WZ, Signal, Other
  %  Smoothing: 40
  Category: PRW 
        
Systematic: "BkgQCD"; "BkgPDF"; "BkgSHW"; "BkgShape" 
  Title: "BkgQCD"; "BkgPDF"; "BkgSHW"; "BkgShape" 
  Type: HISTO
  HistoNameSufUp: "_BkgQCD_up"; "_BkgPDF_up"; "_BkgSHW_up"; "_BkgShape_up" 
  HistoNameSufDown: "_BkgQCD_down"; "_BkgPDF_down"; "_BkgSHW_down"; "_BkgShape_down" 
  Samples: qqZZ 
  %  Smoothing: 40
  Category: misc 
    
Systematic: "ggZZ_ggZZTheo" 
  Title: "ggZZ_ggZZTheo" 
  Type: HISTO
  HistoNameSufUp: "_ggZZTheo_up" 
  HistoNameSufDown: "_ggZZTheo_down" 
  Samples: ggZZ 
  %  Smoothing: 40
  Category: misc 
    
Systematic: "BkgQCD"; "BkgPDF"; "WZScaleInEff"; "WZScaleStat"; "WZScaleSys" 
  Title: "BkgQCD"; "BkgPDF"; "WZScaleInEff"; "WZScaleStat"; "WZScaleSys" 
  Type: HISTO
  HistoNameSufUp: "_BkgQCD_up"; "_BkgPDF_up"; "_WZScaleInEff_up"; "_WZScaleStat_up"; "_WZScaleSys_up" 
  HistoNameSufDown: "_BkgQCD_down"; "_BkgPDF_down"; "_WZScaleInEff_down"; "_WZScaleStat_down"; "_WZScaleSys_down" 
  Samples: WZ 
  %  Smoothing: 40
  Category: misc 
    
Systematic: "emu_emu_Stat"; "emu_emu_Sys" 
  Title: "emu_emu_Stat"; "emu_emu_Sys" 
  Type: HISTO
  HistoNameSufUp: "_emu_Stat_up"; "_emu_Sys_up" 
  HistoNameSufDown: "_emu_Stat_down"; "_emu_Sys_down" 
  Samples: emu 
  %  Smoothing: 40
  Category: misc 
    
Systematic: "Zjets_ABCD_Sys" 
  Title: "Zjets_ABCD_Sys" 
  Type: HISTO
  HistoNameSufUp: "_ABCD_Sys_up" 
  HistoNameSufDown: "_ABCD_Sys_down" 
  Samples: Zjets 
  %  Smoothing: 40
  Category: misc 
    
Systematic: "Wjets_Wjets_Sys" 
  Title: "Wjets_Wjets_Sys" 
  Type: HISTO
  HistoNameSufUp: "_Wjets_Sys_up" 
  HistoNameSufDown: "_Wjets_Sys_down" 
  Samples: Wjets 
  %  Smoothing: 40
  Category: misc 
    
Systematic: "Signal_SigQCD"; "Signal_SigPDF"; "Signal_SigSHW" 
  Title: "Signal_SigQCD"; "Signal_SigPDF"; "Signal_SigSHW" 
  Type: HISTO
  HistoNameSufUp: "_SigQCD_up"; "_SigPDF_up"; "_SigSHW_up" 
  HistoNameSufDown: "_SigQCD_down"; "_SigPDF_down"; "_SigSHW_down" 
  Samples: Signal 
  %  Smoothing: 40
  Category: misc 
    

Systematic: "qqZZMCStatChnmmBin10"; "qqZZMCStatChnmmBin11"; "qqZZMCStatChnmmBin12"; "qqZZMCStatChnmmBin13"; "qqZZMCStatChnmmBin14"; "qqZZMCStatChnmmBin15"; "qqZZMCStatChnmmBin16"; "qqZZMCStatChnmmBin17"; "qqZZMCStatChnmmBin6"; "qqZZMCStatChnmmBin7"; "qqZZMCStatChnmmBin8"; "qqZZMCStatChnmmBin9" 
  Title: "qqZZMCStatChnmmBin10"; "qqZZMCStatChnmmBin11"; "qqZZMCStatChnmmBin12"; "qqZZMCStatChnmmBin13"; "qqZZMCStatChnmmBin14"; "qqZZMCStatChnmmBin15"; "qqZZMCStatChnmmBin16"; "qqZZMCStatChnmmBin17"; "qqZZMCStatChnmmBin6"; "qqZZMCStatChnmmBin7"; "qqZZMCStatChnmmBin8"; "qqZZMCStatChnmmBin9" 
  Type: HISTO
  Regions: SR_mm
  HistoNameSufUp: "_qqZZMCStatChnmmBin10_up"; "_qqZZMCStatChnmmBin11_up"; "_qqZZMCStatChnmmBin12_up"; "_qqZZMCStatChnmmBin13_up"; "_qqZZMCStatChnmmBin14_up"; "_qqZZMCStatChnmmBin15_up"; "_qqZZMCStatChnmmBin16_up"; "_qqZZMCStatChnmmBin17_up"; "_qqZZMCStatChnmmBin6_up"; "_qqZZMCStatChnmmBin7_up"; "_qqZZMCStatChnmmBin8_up"; "_qqZZMCStatChnmmBin9_up" 
  HistoNameSufDown: "_qqZZMCStatChnmmBin10_down"; "_qqZZMCStatChnmmBin11_down"; "_qqZZMCStatChnmmBin12_down"; "_qqZZMCStatChnmmBin13_down"; "_qqZZMCStatChnmmBin14_down"; "_qqZZMCStatChnmmBin15_down"; "_qqZZMCStatChnmmBin16_down"; "_qqZZMCStatChnmmBin17_down"; "_qqZZMCStatChnmmBin6_down"; "_qqZZMCStatChnmmBin7_down"; "_qqZZMCStatChnmmBin8_down"; "_qqZZMCStatChnmmBin9_down" 
  Samples: qqZZ 
  %  Smoothing: 40
  Category: MCStat_mm_qqZZ 
    
Systematic: "ggZZMCStatChnmmBin10"; "ggZZMCStatChnmmBin11"; "ggZZMCStatChnmmBin12"; "ggZZMCStatChnmmBin13"; "ggZZMCStatChnmmBin14"; "ggZZMCStatChnmmBin15"; "ggZZMCStatChnmmBin16"; "ggZZMCStatChnmmBin17"; "ggZZMCStatChnmmBin6"; "ggZZMCStatChnmmBin7"; "ggZZMCStatChnmmBin8"; "ggZZMCStatChnmmBin9" 
  Title: "ggZZMCStatChnmmBin10"; "ggZZMCStatChnmmBin11"; "ggZZMCStatChnmmBin12"; "ggZZMCStatChnmmBin13"; "ggZZMCStatChnmmBin14"; "ggZZMCStatChnmmBin15"; "ggZZMCStatChnmmBin16"; "ggZZMCStatChnmmBin17"; "ggZZMCStatChnmmBin6"; "ggZZMCStatChnmmBin7"; "ggZZMCStatChnmmBin8"; "ggZZMCStatChnmmBin9" 
  Type: HISTO
  Regions: SR_mm
  HistoNameSufUp: "_ggZZMCStatChnmmBin10_up"; "_ggZZMCStatChnmmBin11_up"; "_ggZZMCStatChnmmBin12_up"; "_ggZZMCStatChnmmBin13_up"; "_ggZZMCStatChnmmBin14_up"; "_ggZZMCStatChnmmBin15_up"; "_ggZZMCStatChnmmBin16_up"; "_ggZZMCStatChnmmBin17_up"; "_ggZZMCStatChnmmBin6_up"; "_ggZZMCStatChnmmBin7_up"; "_ggZZMCStatChnmmBin8_up"; "_ggZZMCStatChnmmBin9_up" 
  HistoNameSufDown: "_ggZZMCStatChnmmBin10_down"; "_ggZZMCStatChnmmBin11_down"; "_ggZZMCStatChnmmBin12_down"; "_ggZZMCStatChnmmBin13_down"; "_ggZZMCStatChnmmBin14_down"; "_ggZZMCStatChnmmBin15_down"; "_ggZZMCStatChnmmBin16_down"; "_ggZZMCStatChnmmBin17_down"; "_ggZZMCStatChnmmBin6_down"; "_ggZZMCStatChnmmBin7_down"; "_ggZZMCStatChnmmBin8_down"; "_ggZZMCStatChnmmBin9_down" 
  Samples: ggZZ 
  %  Smoothing: 40
  Category: MCStat_mm_ggZZ 
    
Systematic: "WZMCStatChnmmBin10"; "WZMCStatChnmmBin11"; "WZMCStatChnmmBin12"; "WZMCStatChnmmBin13"; "WZMCStatChnmmBin14"; "WZMCStatChnmmBin15"; "WZMCStatChnmmBin16"; "WZMCStatChnmmBin17"; "WZMCStatChnmmBin6"; "WZMCStatChnmmBin7"; "WZMCStatChnmmBin8"; "WZMCStatChnmmBin9" 
  Title: "WZMCStatChnmmBin10"; "WZMCStatChnmmBin11"; "WZMCStatChnmmBin12"; "WZMCStatChnmmBin13"; "WZMCStatChnmmBin14"; "WZMCStatChnmmBin15"; "WZMCStatChnmmBin16"; "WZMCStatChnmmBin17"; "WZMCStatChnmmBin6"; "WZMCStatChnmmBin7"; "WZMCStatChnmmBin8"; "WZMCStatChnmmBin9" 
  Type: HISTO
  Regions: SR_mm
  HistoNameSufUp: "_WZMCStatChnmmBin10_up"; "_WZMCStatChnmmBin11_up"; "_WZMCStatChnmmBin12_up"; "_WZMCStatChnmmBin13_up"; "_WZMCStatChnmmBin14_up"; "_WZMCStatChnmmBin15_up"; "_WZMCStatChnmmBin16_up"; "_WZMCStatChnmmBin17_up"; "_WZMCStatChnmmBin6_up"; "_WZMCStatChnmmBin7_up"; "_WZMCStatChnmmBin8_up"; "_WZMCStatChnmmBin9_up" 
  HistoNameSufDown: "_WZMCStatChnmmBin10_down"; "_WZMCStatChnmmBin11_down"; "_WZMCStatChnmmBin12_down"; "_WZMCStatChnmmBin13_down"; "_WZMCStatChnmmBin14_down"; "_WZMCStatChnmmBin15_down"; "_WZMCStatChnmmBin16_down"; "_WZMCStatChnmmBin17_down"; "_WZMCStatChnmmBin6_down"; "_WZMCStatChnmmBin7_down"; "_WZMCStatChnmmBin8_down"; "_WZMCStatChnmmBin9_down" 
  Samples: WZ 
  %  Smoothing: 40
  Category: MCStat_mm_WZ 
    
Systematic: "emuMCStatChnmmBin13"; "emuMCStatChnmmBin6"; "emuMCStatChnmmBin7"; "emuMCStatChnmmBin8"; "emuMCStatChnmmBin9" 
  Title: "emuMCStatChnmmBin13"; "emuMCStatChnmmBin6"; "emuMCStatChnmmBin7"; "emuMCStatChnmmBin8"; "emuMCStatChnmmBin9" 
  Type: HISTO
  Regions: SR_mm
  HistoNameSufUp: "_emuMCStatChnmmBin13_up"; "_emuMCStatChnmmBin6_up"; "_emuMCStatChnmmBin7_up"; "_emuMCStatChnmmBin8_up"; "_emuMCStatChnmmBin9_up" 
  HistoNameSufDown: "_emuMCStatChnmmBin13_down"; "_emuMCStatChnmmBin6_down"; "_emuMCStatChnmmBin7_down"; "_emuMCStatChnmmBin8_down"; "_emuMCStatChnmmBin9_down" 
  Samples: emu 
  %  Smoothing: 40
  Category: MCStat_mm_emu 
    
Systematic: "ZjetsMCStatChnmmBin17"; "ZjetsMCStatChnmmBin6"; "ZjetsMCStatChnmmBin7"; "ZjetsMCStatChnmmBin8"; "ZjetsMCStatChnmmBin9"; "Zjets_ABCD_Stat_mm"; "Zjets_ABCD_Shape_mm" 
  Title: "ZjetsMCStatChnmmBin17"; "ZjetsMCStatChnmmBin6"; "ZjetsMCStatChnmmBin7"; "ZjetsMCStatChnmmBin8"; "ZjetsMCStatChnmmBin9"; "Zjets_ABCD_Stat_mm"; "Zjets_ABCD_Shape_mm" 
  Type: HISTO
  Regions: SR_mm
  HistoNameSufUp: "_ZjetsMCStatChnmmBin17_up"; "_ZjetsMCStatChnmmBin6_up"; "_ZjetsMCStatChnmmBin7_up"; "_ZjetsMCStatChnmmBin8_up"; "_ZjetsMCStatChnmmBin9_up"; "_ABCD_Stat_up"; "_ABCD_Shape_up" 
  HistoNameSufDown: "_ZjetsMCStatChnmmBin17_down"; "_ZjetsMCStatChnmmBin6_down"; "_ZjetsMCStatChnmmBin7_down"; "_ZjetsMCStatChnmmBin8_down"; "_ZjetsMCStatChnmmBin9_down"; "_ABCD_Stat_down"; "_Nominal" 
  Samples: Zjets 
  %  Smoothing: 40
  Category: MCStat_mm_Zjets 
    
Systematic: "OtherMCStatChnmmBin10"; "OtherMCStatChnmmBin11"; "OtherMCStatChnmmBin12"; "OtherMCStatChnmmBin13"; "OtherMCStatChnmmBin14"; "OtherMCStatChnmmBin15"; "OtherMCStatChnmmBin16"; "OtherMCStatChnmmBin17"; "OtherMCStatChnmmBin6"; "OtherMCStatChnmmBin7"; "OtherMCStatChnmmBin8"; "OtherMCStatChnmmBin9" 
  Title: "OtherMCStatChnmmBin10"; "OtherMCStatChnmmBin11"; "OtherMCStatChnmmBin12"; "OtherMCStatChnmmBin13"; "OtherMCStatChnmmBin14"; "OtherMCStatChnmmBin15"; "OtherMCStatChnmmBin16"; "OtherMCStatChnmmBin17"; "OtherMCStatChnmmBin6"; "OtherMCStatChnmmBin7"; "OtherMCStatChnmmBin8"; "OtherMCStatChnmmBin9" 
  Type: HISTO
  Regions: SR_mm
  HistoNameSufUp: "_OtherMCStatChnmmBin10_up"; "_OtherMCStatChnmmBin11_up"; "_OtherMCStatChnmmBin12_up"; "_OtherMCStatChnmmBin13_up"; "_OtherMCStatChnmmBin14_up"; "_OtherMCStatChnmmBin15_up"; "_OtherMCStatChnmmBin16_up"; "_OtherMCStatChnmmBin17_up"; "_OtherMCStatChnmmBin6_up"; "_OtherMCStatChnmmBin7_up"; "_OtherMCStatChnmmBin8_up"; "_OtherMCStatChnmmBin9_up" 
  HistoNameSufDown: "_OtherMCStatChnmmBin10_down"; "_OtherMCStatChnmmBin11_down"; "_OtherMCStatChnmmBin12_down"; "_OtherMCStatChnmmBin13_down"; "_OtherMCStatChnmmBin14_down"; "_OtherMCStatChnmmBin15_down"; "_OtherMCStatChnmmBin16_down"; "_OtherMCStatChnmmBin17_down"; "_OtherMCStatChnmmBin6_down"; "_OtherMCStatChnmmBin7_down"; "_OtherMCStatChnmmBin8_down"; "_OtherMCStatChnmmBin9_down" 
  Samples: Other 
  %  Smoothing: 40
  Category: MCStat_mm_Other 
    
Systematic: "ggH500MCStatChnmmBin10"; "ggH500MCStatChnmmBin11"; "ggH500MCStatChnmmBin12"; "ggH500MCStatChnmmBin13"; "ggH500MCStatChnmmBin6"; "ggH500MCStatChnmmBin7"; "ggH500MCStatChnmmBin8"; "ggH500MCStatChnmmBin9" 
  Title: "ggH500MCStatChnmmBin10"; "ggH500MCStatChnmmBin11"; "ggH500MCStatChnmmBin12"; "ggH500MCStatChnmmBin13"; "ggH500MCStatChnmmBin6"; "ggH500MCStatChnmmBin7"; "ggH500MCStatChnmmBin8"; "ggH500MCStatChnmmBin9" 
  Type: HISTO
  Regions: SR_mm
  HistoNameSufUp: "_ggH500MCStatChnmmBin10_up"; "_ggH500MCStatChnmmBin11_up"; "_ggH500MCStatChnmmBin12_up"; "_ggH500MCStatChnmmBin13_up"; "_ggH500MCStatChnmmBin6_up"; "_ggH500MCStatChnmmBin7_up"; "_ggH500MCStatChnmmBin8_up"; "_ggH500MCStatChnmmBin9_up" 
  HistoNameSufDown: "_ggH500MCStatChnmmBin10_down"; "_ggH500MCStatChnmmBin11_down"; "_ggH500MCStatChnmmBin12_down"; "_ggH500MCStatChnmmBin13_down"; "_ggH500MCStatChnmmBin6_down"; "_ggH500MCStatChnmmBin7_down"; "_ggH500MCStatChnmmBin8_down"; "_ggH500MCStatChnmmBin9_down" 
  Samples: Signal 
  %  Smoothing: 40
  Category: MCStat_mm_ggH500 
    