Job: "HZZllvvVBF_900"
  Label: "HZZllvvVBF_900"
  CmeLabel: "13 TeV"
  LumiLabel: "5.8 fb^{-1}"
  POI: "SigXsecOverSM"
  ReadFrom: HIST
%  HistoPath: "/afs/cern.ch/user/b/boliu/public/ZHinv/input/fullDS/merge/"
%  HistoPath: "/afs/cern.ch/user/b/boliu/public/ZHinv/input/input_Feb/merge/"
  HistoPath: "/data/boliu/ZHllvv/input/v2/VBF/input/"
%  DebugLevel: 1
  SystControlPlots: TRUE

Fit: "myFit"
  FitType: SPLUSB
  FitRegion: CRSR
  FitBlind: TRUE
  POIAsimov: 1
%  UseMinos: all
  
Limit: "limit"
  LimitType: ASYMPTOTIC
  LimitBlind: TRUE
%  POIAsimov: 0

Region: "SR_combined"
  Type: SIGNAL
%  Type: CONTROL
  HistoName: "mT_combined"
  VariableTitle: "mT [GeV]"
  Label: "Signal Region ee"
  ShortLabel: "SR combined"
  DataType: ASIMOV
%  DataType: DATA

%Region: "SR_ee"
%  Type: SIGNAL
%%  Type: CONTROL
%  HistoName: "mT_ee"
%  VariableTitle: "mT [GeV]"
%  Label: "Signal Region ee"
%  ShortLabel: "SR ee"
%%  DataType: ASIMOV
%  DataType: DATA
%
%
%
%Region: "SR_mm"
%  Type: SIGNAL
%%  Type: CONTROL
%  HistoName: "mT_mumu"
%  VariableTitle: "mT [GeV]"
%  Label: "Signal Region mm"
%  ShortLabel: "SR mm"
%  DataType: DATA
%%  DataType: ASIMOV 
%
%
%Sample: "Data"
%  Title: "Data"
%  Type: DATA
%  HistoFile: "Data"

Sample: "Signal"
  Type: SIGNAL
  Title: "Signal"
  FillColor: 632
  LineColor: 632
  UseMCstat: FALSE
  NormFactor: "SigXsecOverSM",1,-10,10
  HistoFile: "VBF900"
  Regions: "SR_combined"
 
    
Sample: "ZZ"
  Type: BACKGROUND
  Title: "ZZ"
  FillColor: 65
  UseMCstat: FALSE
  LineColor: 1
  HistoFile: "ZZ"

%Sample: "ggZZ"
%  Type: BACKGROUND
%  Title: "ggZZ"
%  FillColor: 9
%  UseMCstat: FALSE
%  LineColor: 1
%  HistoFile: "ggZZ"

Sample: "WZ"
  Type: BACKGROUND
  Title: "WZ"
  FillColor: 98
  UseMCstat: FALSE
  LineColor: 1
  HistoFile: "WZ"

Sample: "WW"
  Type: BACKGROUND
  Title: "WW"
  FillColor: 8
  UseMCstat: FALSE
  LineColor: 1
  HistoFile: "WW"

Sample: "Top"
  Type: BACKGROUND
  Title: "Top"
  FillColor: 12
  UseMCstat: FALSE
  LineColor: 1
  HistoFile: "Top"

Sample: "Zjets"
  Type: BACKGROUND
  Title: "Zjets"
  FillColor: 5
  UseMCstat: FALSE
  LineColor: 1
  HistoFile: "Zjets"


NormFactor: "SigXsecOverSM"
  Title: "#mu_{VBF}"
  Nominal: 1
  Min: -10
  Max: 10
  Samples: Signal
 


% 
%Systematic: "JET_GroupedNP_1"; "JET_GroupedNP_2"; "JET_GroupedNP_3"; "JET_EtaIntercalibration_NonClosure"
%  Title: "JET_GroupedNP_1"; "JET_GroupedNP_2"; "JET_GroupedNP_3"; "JET_EtaIntercalibration_NonClosure" 
%  Type: HISTO
%  HistoNameSufUp: "_JET_GroupedNP_1__1up"; "_JET_GroupedNP_2__1up"; "_JET_GroupedNP_3__1up"; "_JET_EtaIntercalibration_NonClosure__1up"
%  HistoNameSufDown: "_JET_GroupedNP_1__1down"; "_JET_GroupedNP_2__1down"; "_JET_GroupedNP_3__1down"; "_JET_EtaIntercalibration_NonClosure__1down"
%  Samples: qqZZ, ggZZ, WZ, Signal
%  %  Smoothing: 40
%%  Symmetrisation: TWOSIDED
%  Category: Jet
%    
%Systematic: "JET_JER_SINGLE_NP" 
%  Title: "JET_JER_SINGLE_NP" 
%  Type: HISTO
%  HistoNameSufUp: "_JET_JER_SINGLE_NP__1up" 
%%  HistoNameSufDown: "_JET_GroupedNP_1__1down" 
%  Samples: ggZZ, qqZZ, WZ, Signal
%  %  Smoothing: 40
%  Symmetrisation: ONESIDED
%  Category: Jet
% 
%
%Systematic: "MET_SoftTrk_ResoPara"; "MET_SoftTrk_ResoPerp" 
%  Title: "MET_SoftTrk_ResoPara"; "MET_SoftTrk_ResoPerp" 
%  Type: HISTO
%  HistoNameSufUp: "_MET_SoftTrk_ResoPara"; "_MET_SoftTrk_ResoPerp" 
%%  HistoNameSufDown: "_MET_SoftTrk_ResoPara_down"; "_MET_SoftTrk_ResoPerp_down" 
%  Samples: ggZZ, qqZZ, WZ, Signal
%  %  Smoothing: 40
%  Symmetrisation: ONESIDED
%  Category: MET 
%    
%Systematic: "MET_SoftTrk_Scale" 
%  Title: "MET_SoftTrk_Scale" 
%  Type: HISTO
%  HistoNameSufUp: "_MET_SoftTrk_ScaleUp" 
%  HistoNameSufDown: "_MET_SoftTrk_ScaleDown" 
%  Samples: ggZZ, qqZZ, WZ, Signal
%  %  Smoothing: 40
%%  Symmetrisation: TWOSIDED
%  Category: MET 
%
%Systematic: "LUMI"
%  Title: "Luminosity"
%  Type: OVERALL
%  OverallUp: 0.05
%  OverallDown: -0.05
%  Samples: qqZZ, ggZZ, WZ, Signal 
%%  Samples: qqZZ, ggZZ, WZ, Signal 
%  Category: Instrumental

Systematic: "LUMI"
  Title: "Luminosity"
  Type: OVERALL
  OverallUp: 0.05
  OverallDown: -0.05
  Samples: ZZ,  WZ, Signal 
%  Samples: ZZ,  WZ, Signal 
  Category: Instrumental


Systematic: "stat_combined_ZZ_bin1" 
  Title: "stat_combined_ZZ_bin1" 
  Type: HISTO
  Regions: SR_combined
  HistoNameSufUp: "_stat_combined_ZZ_bin1_up" 
  HistoNameSufDown: "_stat_combined_ZZ_bin1_down" 
  Samples: ZZ 
  %  Smoothing: 40
  Category: combined_ZZ 
 
Systematic: "stat_combined_WZ_bin1" 
  Title: "stat_combined_WZ_bin1" 
  Type: HISTO
  Regions: SR_combined
  HistoNameSufUp: "_stat_combined_WZ_bin1_up" 
  HistoNameSufDown: "_stat_combined_WZ_bin1_down" 
  Samples: WZ 
  %  Smoothing: 40
  Category: combined_WZ 
 

Systematic: "stat_combined_VBF900_bin1" 
  Title: "stat_combined_VBF900_bin1" 
  Type: HISTO
  Regions: SR_combined
  HistoNameSufUp: "_stat_combined_VBF900_bin1_up" 
  HistoNameSufDown: "_stat_combined_VBF900_bin1_down" 
  Samples: Signal 
  %  Smoothing: 40
  Category: combined_VBF900 
    