Job: "ZH_Fit"
  Label: "ZH_Fit"
  CmeLabel: "13 TeV"
  LumiLabel: "5.8 fb^{-1}"
  POI: "SigXsecOverSM"
  ReadFrom: HIST
%  HistoPath: "/afs/cern.ch/user/b/boliu/public/ZHinv/input/fullDS/merge/"
%  HistoPath: "/afs/cern.ch/user/b/boliu/public/ZHinv/input/input_Feb/merge/"
  HistoPath: "/data/boliu/ZHllvv/input/v2/LowMass/input/"
  DebugLevel: 1
  SystControlPlots: TRUE
%  StatOnly: FALSE

Fit: "myFit"
  FitType: SPLUSB
  FitRegion: CRSR
  FitBlind: TRUE
  POIAsimov: 1
  
Limit: "limit"
  LimitType: ASYMPTOTIC
  LimitBlind: TRUE 
  POIAsimov: 0

Region: "SR_ee"
  Type: SIGNAL
%  Type: CONTROL
  HistoName: "met_ee"
  VariableTitle: "MET [GeV]"
  Label: "Signal Region ee"
  ShortLabel: "SR ee"
  DataType: ASIMOV

Region: "SR_mm"
  Type: SIGNAL
%  Type: CONTROL
  HistoName: "met_mumu"
  VariableTitle: "MET [GeV]"
  Label: "Signal Region mm"
  ShortLabel: "SR mm"
  DataType: ASIMOV


%Sample: "Data"
%  Title: "Data 2015"
%  Type: DATA
%  HistoFile: "input_data"
    
Sample: "qqZZ"
  Type: BACKGROUND
  Title: "qqZZ"
  FillColor: 65
  UseMCstat: FALSE
  LineColor: 1
  HistoFile: "qqZZ"

Sample: "ggZZ"
  Type: BACKGROUND
  Title: "ggZZ"
  FillColor: 9
  UseMCstat: FALSE
  LineColor: 1
  HistoFile: "ggZZ"

Sample: "WZ"
  Type: BACKGROUND
  Title: "WZ"
  FillColor: 98
  UseMCstat: FALSE
  LineColor: 1
  HistoFile: "WZ"

Sample: "WW"
  Type: BACKGROUND
  Title: "WW"
  FillColor: 8
  UseMCstat: FALSE
  LineColor: 1
  HistoFile: "WW"

Sample: "Top"
  Type: BACKGROUND
  Title: "Top"
  FillColor: 12
  UseMCstat: FALSE
  LineColor: 1
  HistoFile: "Top"

Sample: "Zjets"
  Type: BACKGROUND
  Title: "Zjets"
  FillColor: 5
  UseMCstat: FALSE
  LineColor: 1
  HistoFile: "Zjets"




Sample: "Signal"
  Type: SIGNAL
  Title: "Signal"
  FillColor: 632
  UseMCstat: FALSE
  LineColor: 632
  NormFactor: "SigXsecOverSM",1,-10,10
  HistoFile: "ZH"


NormFactor: "SigXsecOverSM"
  Title: "#mu_{ZH}"
  Nominal: 1
  Min: -10
  Max: 10
  Samples: Signal

 Systematic: "JET_GroupedNP_1"; "JET_GroupedNP_2"; "JET_GroupedNP_3"; "JET_EtaIntercalibration_NonClosure"
  Title: "JET_GroupedNP_1"; "JET_GroupedNP_2"; "JET_GroupedNP_3"; "JET_EtaIntercalibration_NonClosure" 
  Type: HISTO
  HistoNameSufUp: "_JET_GroupedNP_1__1up"; "_JET_GroupedNP_2__1up"; "_JET_GroupedNP_3__1up"; "_JET_EtaIntercalibration_NonClosure__1up"
  HistoNameSufDown: "_JET_GroupedNP_1__1down"; "_JET_GroupedNP_2__1down"; "_JET_GroupedNP_3__1down"; "_JET_EtaIntercalibration_NonClosure__1down"
  Samples: qqZZ, ggZZ, WZ, Signal
  %  Smoothing: 40
%  Symmetrisation: TWOSIDED
  Category: Jet
  
Systematic: "JET_JER_SINGLE_NP" 
  Title: "JET_JER_SINGLE_NP" 
  Type: HISTO
  HistoNameSufUp: "_JET_JER_SINGLE_NP__1up" 
%  HistoNameSufDown: "_JET_GroupedNP_1__1down" 
  Samples: ggZZ, qqZZ, WZ, Signal
  %  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Jet
 

Systematic: "MET_SoftTrk_ResoPara"; "MET_SoftTrk_ResoPerp" 
  Title: "MET_SoftTrk_ResoPara"; "MET_SoftTrk_ResoPerp" 
  Type: HISTO
  HistoNameSufUp: "_MET_SoftTrk_ResoPara"; "_MET_SoftTrk_ResoPerp" 
%  HistoNameSufDown: "_MET_SoftTrk_ResoPara_down"; "_MET_SoftTrk_ResoPerp_down" 
  Samples: ggZZ, qqZZ, WZ, Signal
  %  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: MET 
    
Systematic: "MET_SoftTrk_Scale" 
  Title: "MET_SoftTrk_Scale" 
  Type: HISTO
  HistoNameSufUp: "_MET_SoftTrk_ScaleUp" 
  HistoNameSufDown: "_MET_SoftTrk_ScaleDown" 
  Samples: ggZZ, qqZZ, WZ, Signal
  %  Smoothing: 40
%  Symmetrisation: TWOSIDED
  Category: MET 




Systematic: "LUMI"
  Title: "Luminosity"
  Type: OVERALL
  OverallUp: 0.05
  OverallDown: -0.05
  Samples: qqZZ, ggZZ, WZ, Signal 
  Category: Instrumental


Systematic: "JET_EtaIntercalibration_NonClosure"; "JET_GroupedNP_1"; "JET_GroupedNP_2"; "JET_GroupedNP_3"; "JET_JER_SINGLE_NP" 
  Title: "JET_EtaIntercalibration_NonClosure"; "JET_GroupedNP_1"; "JET_GroupedNP_2"; "JET_GroupedNP_3"; "JET_JER_SINGLE_NP" 
  Type: HISTO
  HistoNameSufUp: "_JET_EtaIntercalibration_NonClosure_up"; "_JET_GroupedNP_1_up"; "_JET_GroupedNP_2_up"; "_JET_GroupedNP_3_up"; "_JET_JER_SINGLE_NP_up" 
  HistoNameSufDown: "_JET_EtaIntercalibration_NonClosure_down"; "_JET_GroupedNP_1_down"; "_JET_GroupedNP_2_down"; "_JET_GroupedNP_3_down"; "_JET_JER_SINGLE_NP_up" 
  Samples: ggZZ, qqZZ, WZ, Signal
  %  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: JET 
    
Systematic: "MET_SoftTrk_ResoPara"; "MET_SoftTrk_ResoPerp"; "MET_SoftTrk_Scale" 
  Title: "MET_SoftTrk_ResoPara"; "MET_SoftTrk_ResoPerp"; "MET_SoftTrk_Scale" 
  Type: HISTO
  HistoNameSufUp: "_MET_SoftTrk_ResoPara_up"; "_MET_SoftTrk_ResoPerp_up"; "_MET_SoftTrk_Scale_up" 
  HistoNameSufDown: "_MET_SoftTrk_ResoPara_up"; "_MET_SoftTrk_ResoPerp_up"; "_MET_SoftTrk_Scale_down" 
  Samples: ggZZ, qqZZ, WZ, Signal
  %  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: MET 
    
Systematic: "lumi" 
  Title: "lumi" 
  Type: HISTO
  HistoNameSufUp: "_lumi_up" 
  HistoNameSufDown: "_lumi_down" 
  Samples: ggZZ, qqZZ,  Signal
  %  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: lumi 
    
Systematic: "qqZZFlatSys" 
  Title: "qqZZFlatSys" 
  Type: HISTO
  HistoNameSufUp: "_qqZZFlatSys_up" 
  HistoNameSufDown: "_qqZZFlatSys_down" 
  Samples: qqZZ 
  %  Smoothing: 40
  Category: misc 
    
Systematic: "qqZZMCStatChneeBin1"; "qqZZMCStatChneeBin2"; "qqZZMCStatChneeBin3"; "qqZZMCStatChneeBin4"; "qqZZMCStatChneeBin5"; "qqZZMCStatChneeBin6" 
  Title: "qqZZMCStatChneeBin1"; "qqZZMCStatChneeBin2"; "qqZZMCStatChneeBin3"; "qqZZMCStatChneeBin4"; "qqZZMCStatChneeBin5"; "qqZZMCStatChneeBin6" 
  Type: HISTO
  Regions: SR_ee
  HistoNameSufUp: "_qqZZMCStatChneeBin1_up"; "_qqZZMCStatChneeBin2_up"; "_qqZZMCStatChneeBin3_up"; "_qqZZMCStatChneeBin4_up"; "_qqZZMCStatChneeBin5_up"; "_qqZZMCStatChneeBin6_up" 
  HistoNameSufDown: "_qqZZMCStatChneeBin1_down"; "_qqZZMCStatChneeBin2_down"; "_qqZZMCStatChneeBin3_down"; "_qqZZMCStatChneeBin4_down"; "_qqZZMCStatChneeBin5_down"; "_qqZZMCStatChneeBin6_down" 
  Samples: qqZZ 
  %  Smoothing: 40
  Category: MCStat_ee_qqZZ 
    
Systematic: "qqZZMCStatChnmmBin1"; "qqZZMCStatChnmmBin2"; "qqZZMCStatChnmmBin3"; "qqZZMCStatChnmmBin4"; "qqZZMCStatChnmmBin5"; "qqZZMCStatChnmmBin6" 
  Title: "qqZZMCStatChnmmBin1"; "qqZZMCStatChnmmBin2"; "qqZZMCStatChnmmBin3"; "qqZZMCStatChnmmBin4"; "qqZZMCStatChnmmBin5"; "qqZZMCStatChnmmBin6" 
  Type: HISTO
  Regions: SR_mm
  HistoNameSufUp: "_qqZZMCStatChnmmBin1_up"; "_qqZZMCStatChnmmBin2_up"; "_qqZZMCStatChnmmBin3_up"; "_qqZZMCStatChnmmBin4_up"; "_qqZZMCStatChnmmBin5_up"; "_qqZZMCStatChnmmBin6_up" 
  HistoNameSufDown: "_qqZZMCStatChnmmBin1_down"; "_qqZZMCStatChnmmBin2_down"; "_qqZZMCStatChnmmBin3_down"; "_qqZZMCStatChnmmBin4_down"; "_qqZZMCStatChnmmBin5_down"; "_qqZZMCStatChnmmBin6_down" 
  Samples: qqZZ 
  %  Smoothing: 40
  Category: MCStat_mm_qqZZ 
    
Systematic: "ggZZFlatSys" 
  Title: "ggZZFlatSys" 
  Type: HISTO
  HistoNameSufUp: "_ggZZFlatSys_up" 
  HistoNameSufDown: "_ggZZFlatSys_down" 
  Samples: ggZZ 
  %  Smoothing: 40
  Category: misc 
    
Systematic: "ggZZMCStatChneeBin1"; "ggZZMCStatChneeBin2"; "ggZZMCStatChneeBin3"; "ggZZMCStatChneeBin4"; "ggZZMCStatChneeBin5"; "ggZZMCStatChneeBin6" 
  Title: "ggZZMCStatChneeBin1"; "ggZZMCStatChneeBin2"; "ggZZMCStatChneeBin3"; "ggZZMCStatChneeBin4"; "ggZZMCStatChneeBin5"; "ggZZMCStatChneeBin6" 
  Type: HISTO
  Regions: SR_ee
  HistoNameSufUp: "_ggZZMCStatChneeBin1_up"; "_ggZZMCStatChneeBin2_up"; "_ggZZMCStatChneeBin3_up"; "_ggZZMCStatChneeBin4_up"; "_ggZZMCStatChneeBin5_up"; "_ggZZMCStatChneeBin6_up" 
  HistoNameSufDown: "_ggZZMCStatChneeBin1_down"; "_ggZZMCStatChneeBin2_down"; "_ggZZMCStatChneeBin3_down"; "_ggZZMCStatChneeBin4_down"; "_ggZZMCStatChneeBin5_down"; "_ggZZMCStatChneeBin6_down" 
  Samples: ggZZ 
  %  Smoothing: 40
  Category: MCStat_ee_ggZZ 
    
Systematic: "ggZZMCStatChnmmBin1"; "ggZZMCStatChnmmBin2"; "ggZZMCStatChnmmBin3"; "ggZZMCStatChnmmBin4"; "ggZZMCStatChnmmBin5"; "ggZZMCStatChnmmBin6" 
  Title: "ggZZMCStatChnmmBin1"; "ggZZMCStatChnmmBin2"; "ggZZMCStatChnmmBin3"; "ggZZMCStatChnmmBin4"; "ggZZMCStatChnmmBin5"; "ggZZMCStatChnmmBin6" 
  Type: HISTO
  Regions: SR_mm
  HistoNameSufUp: "_ggZZMCStatChnmmBin1_up"; "_ggZZMCStatChnmmBin2_up"; "_ggZZMCStatChnmmBin3_up"; "_ggZZMCStatChnmmBin4_up"; "_ggZZMCStatChnmmBin5_up"; "_ggZZMCStatChnmmBin6_up" 
  HistoNameSufDown: "_ggZZMCStatChnmmBin1_down"; "_ggZZMCStatChnmmBin2_down"; "_ggZZMCStatChnmmBin3_down"; "_ggZZMCStatChnmmBin4_down"; "_ggZZMCStatChnmmBin5_down"; "_ggZZMCStatChnmmBin6_down" 
  Samples: ggZZ 
  %  Smoothing: 40
  Category: MCStat_mm_ggZZ 
    
Systematic: "WZFlatSys" 
  Title: "WZFlatSys" 
  Type: HISTO
  HistoNameSufUp: "_WZFlatSys_up" 
  HistoNameSufDown: "_WZFlatSys_down" 
  Samples: WZ 
  %  Smoothing: 40
  Category: misc 
    
Systematic: "WWFlatSys" 
  Title: "WWFlatSys" 
  Type: HISTO
  HistoNameSufUp: "_WWFlatSys_up" 
  HistoNameSufDown: "_WWFlatSys_down" 
  Samples: WW 
  %  Smoothing: 40
  Category: misc 
    
Systematic: "TopFlatSys" 
  Title: "TopFlatSys" 
  Type: HISTO
  HistoNameSufUp: "_TopFlatSys_up" 
  HistoNameSufDown: "_TopFlatSys_down" 
  Samples: Top 
  %  Smoothing: 40
  Category: misc 
    
Systematic: "ZjetsFlatSys" 
  Title: "ZjetsFlatSys" 
  Type: HISTO
  HistoNameSufUp: "_ZjetsFlatSys_up" 
  HistoNameSufDown: "_ZjetsFlatSys_down" 
  Samples: Zjets 
  %  Smoothing: 40
  Category: misc 
    